flows_realty.json
[{"id":"866fa487.27c558","type":"tab","label":"Flow 1 - Main Flow","disabled":false,"info":""},{"id":"9e7a3791.8e9ad8","type":"tab","label":"Flow 2 - Omnichannel","disabled":false,"info":""},{"id":"dd7088ff.5af3a8","type":"tab","label":"Flow 3 - Mortgage Application","disabled":false,"info":""},{"id":"c79da858.1e2cc8","type":"tab","label":"Flow 4 - Consent","disabled":false,"info":"Direct integration with the Social Security Administration (SSA) provides our API clients with the fastest response times in the industry for SSN verification direct from the SSA via the Form SSA89. Our 4506t API offers a secure direct connection to our homegrown IRS Direct ordering platform. Returning up to 3 past years of Tax Transcripts results as they are completed at the IRS level."},{"id":"2435b8ee.69b368","type":"tab","label":"Flow 5 - Fannie Mae","disabled":false,"info":""},{"id":"6459c2a0.55348c","type":"tab","label":"Flow 6 - Funding","disabled":false,"info":""},{"id":"e64cfba2.fed7d8","type":"tab","label":"Flow 7 - Automated Underwriting","disabled":false,"info":"Information from a mortgage loan application (Fannie Mae form 1003) is uploaded to an automated underwriting system (AUS) which retrieves relevant data, such as a borrower's credit history, and arrives at a logic-based loan decision."},{"id":"f4960ba0.f905e8","type":"tab","label":"Flow 8 - Real Estate","disabled":false,"info":""},{"id":"be213972.00a228","type":"tab","label":"Flow 9 - Real Estate","disabled":false,"info":""},{"id":"53b9e576.33cf5c","type":"tab","label":"Flow 10 - Loan Boarding","disabled":false,"info":"Loan Boarding. Loan boarding, or the process by which a portfolio of loan and account data is transferred from one management system to another, is a critical concern when considering outsourcing to a third party."},{"id":"6dff583.ffad4a8","type":"tab","label":"Flow 11 - Customer Servicing","disabled":false,"info":""},{"id":"799ded4e.6a3d44","type":"tab","label":"Flow 12 - Cash Flow","disabled":false,"info":""},{"id":"e2888a9a.6e47c8","type":"tab","label":"Flow 13 - Escrow Management","disabled":false,"info":""},{"id":"338f8ff1.c5d62","type":"tab","label":"Flow 14 - Secondary Market","disabled":false,"info":""},{"id":"312316b9.5ba40a","type":"tab","label":"Flow 15 - Risk","disabled":false,"info":""},{"id":"858a167a.2b3c78","type":"tab","label":"Flow 16 - TI MSP432 Connect","disabled":false,"info":""},{"id":"891397a2.3f4f78","type":"tab","label":"Flow 17 Arduino","disabled":false,"info":""},{"id":"94746d31.6a319","type":"tab","label":"Flow 18 - Mismo Conversion ","disabled":false,"info":""},{"id":"8994356a.b29d88","type":"tab","label":"Flow 19 - Mismo Conversion","disabled":false,"info":""},{"id":"3be3501.c18f8b","type":"tab","label":"Flow 2"},{"id":"76b0172e.e6da98","type":"tab","label":"Flow 3"},{"id":"1ac96f59.029e61","type":"tab","label":"Flow 1"},{"id":"ad880643.3c8498","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem00000001","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e676f00b.21e2","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"59eb0d95.ef0be4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"796fdab2.1cbbe4","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"7787d697.6878b8","type":"ui_group","name":"Group 1","tab":"796fdab2.1cbbe4","order":1,"disp":true,"width":6},{"id":"5e5234ed.57186c","type":"http in","z":"866fa487.27c558","name":"[vr] get /hello-get","url":"/hello-get","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["de60f3ac.8d11e"]]},{"id":"de60f3ac.8d11e","type":"template","z":"866fa487.27c558","name":"[vt] page-get","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":330,"y":220,"wires":[["ecfe851f.035d88"]]},{"id":"ecfe851f.035d88","type":"change","z":"866fa487.27c558","name":"[vt] Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":511,"y":219,"wires":[["b0983ebf.19dc6","eb8d2eba.46cd4"]]},{"id":"b0983ebf.19dc6","type":"http response","z":"866fa487.27c558","name":"[vr] Output","statusCode":"","headers":{},"x":729,"y":212,"wires":[]},{"id":"eb8d2eba.46cd4","type":"debug","z":"866fa487.27c558","name":"[vr] debug","active":true,"console":"false","complete":"payload","x":690,"y":354,"wires":[]},{"id":"d8888944.c1c448","type":"comment","z":"866fa487.27c558","name":"JSON Get","info":"","x":122,"y":166,"wires":[]},{"id":"9a9777ca.34b0a8","type":"http in","z":"866fa487.27c558","name":"[vr] post /hello-post","url":"/hello-post","method":"post","upload":false,"swaggerDoc":"","x":153,"y":361,"wires":[["f57ec5da.3b9218"]]},{"id":"f57ec5da.3b9218","type":"template","z":"866fa487.27c558","name":"[vt] Post-Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n        <h2>You live in {{ payload.city }}!</h2>\n    </body>\n</html>","output":"str","x":359,"y":361,"wires":[["b0983ebf.19dc6","eb8d2eba.46cd4"]]},{"id":"6eb44819.ba4708","type":"comment","z":"866fa487.27c558","name":"JSON Post","info":"","x":120,"y":310,"wires":[]},{"id":"ac3d576a.d2d958","type":"http in","z":"866fa487.27c558","name":"[vr] delete /hello-delete","url":"/hello-delete","method":"delete","upload":false,"swaggerDoc":"","x":163,"y":473,"wires":[["47d45a3a.9fd244"]]},{"id":"47d45a3a.9fd244","type":"template","z":"866fa487.27c558","name":"[vt] delete-page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.name}} !","output":"str","x":382,"y":467,"wires":[["b0983ebf.19dc6","eb8d2eba.46cd4"]]},{"id":"c1d442d2.24d26","type":"comment","z":"866fa487.27c558","name":"JSON Delete","info":"","x":130,"y":424,"wires":[]},{"id":"7a56a59.634685c","type":"function","z":"9e7a3791.8e9ad8","name":"Synch Tasks Vt","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"channel_internet\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"channel_footfall\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n    case \"channel_phone\":\n        context.data.task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null && context.data.task3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["6472aeb3.9a2c2"]]},{"id":"d6dfeecc.2dedc","type":"delay","z":"9e7a3791.8e9ad8","name":"Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":464,"y":64,"wires":[["7a56a59.634685c"]]},{"id":"6472aeb3.9a2c2","type":"debug","z":"9e7a3791.8e9ad8","name":"Message Vr","active":true,"console":"false","complete":"true","x":646,"y":352,"wires":[]},{"id":"cc7a1c89.78173","type":"delay","z":"9e7a3791.8e9ad8","name":"Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":446,"y":155,"wires":[["7a56a59.634685c"]]},{"id":"d59736df.211b68","type":"delay","z":"9e7a3791.8e9ad8","name":"Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":444,"y":234,"wires":[["7a56a59.634685c"]]},{"id":"42bdc6ad.b11d38","type":"function","z":"9e7a3791.8e9ad8","name":"Internet Channel Vr","func":"msg.topic=\"channel_internet\";\nmsg.payload='{\"$class\": \"org.acme.sample.SampleParticipant\",  \"participantId\": \"Toby\",  \"firstName\": \"Tobias\",  \"lastName\": \"Hunter\"}';\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":101,"wires":[["d6dfeecc.2dedc"]]},{"id":"e70fa513.862c48","type":"function","z":"9e7a3791.8e9ad8","name":"Footfall Vr","func":"msg.topic=\"channel_footfall\";\nmsg.payload='{\"$class\": \"org.acme.sample.SampleAsset\", \"assetId\": \"assetId:1\",  \"owner\": \"resource:org.acme.sample.SampleParticipant#Toby\",  \"value\": \"original value\"}';\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":182,"wires":[["cc7a1c89.78173"]]},{"id":"c4a6378a.7215d8","type":"function","z":"9e7a3791.8e9ad8","name":"Phone / Fax Vr","func":"msg.topic=\"channel_phone\";\nmsg.payload='{\"$class\": \"org.acme.sample.SampleTransaction\",  \"asset\": \"resource:org.acme.sample.SampleAsset#assetId:1\",  \"newValue\": \"new value\"}';\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":280,"wires":[["d59736df.211b68"]]},{"id":"35efcfe0.c9255","type":"inject","z":"9e7a3791.8e9ad8","name":"People Start Vs","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117,"y":185,"wires":[["42bdc6ad.b11d38","e70fa513.862c48","c4a6378a.7215d8"]]},{"id":"dd861fc7.c43b1","type":"http in","z":"dd7088ff.5af3a8","name":"vr - get /borrower-info","url":"/borrower-info","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["4a6e3c1e.044e44"]]},{"id":"395c538c.23259c","type":"template","z":"dd7088ff.5af3a8","name":"vs - borrower-source","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Snoborder Mortgage Borrower Info</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  <style>\n    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */\n    .row.content {height: 550px}\n    \n    /* Set gray background color and 100% height */\n    .sidenav {\n      background-color: #f1f1f1;\n      height: 100%;\n    }\n        \n    /* On small screens, set height to 'auto' for the grid */\n    @media screen and (max-width: 767px) {\n      .row.content {height: auto;} \n    }\n  </style>\n</head>\n<body>\n\n<nav class=\"navbar navbar-inverse visible-xs\">\n  <div class=\"container-fluid\">\n    <div class=\"navbar-header\">\n      <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#myNavbar\">\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>                        \n      </button>\n      <a class=\"navbar-brand\" href=\"#\">Snoborder</a>\n    </div>\n    <div class=\"collapse navbar-collapse\" id=\"myNavbar\">\n      <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"#\">Mortgage Dashboard</a></li>\n        <li><a href=\"#\">{{ payload.firstName }}</a></li>\n        <li><a href=\"#\">{{ payload.lastName }}</a></li>\n        <li><a href=\"#\">{{ payload.middleName }}</a></li>\n      </ul>\n    </div>\n  </div>\n</nav>\n\n<div class=\"container-fluid\">\n  <div class=\"row content\">\n    <div class=\"col-sm-3 sidenav hidden-xs\">\n      <h2>Snoborder</h2>\n      <ul class=\"nav nav-pills nav-stacked\">\n        <li class=\"active\"><a href=\"#section1\">Dashboard</a></li>\n        <li><a href=\"#section2\">{{ payload.firstName }}</a></li>\n        <li><a href=\"#section3\">{{ payload.lastName }}</a></li>\n        <li><a href=\"#section3\">{{ payload.middleName }}</a></li>\n      </ul><br>\n    </div>\n    <br>\n    \n    <div class=\"col-sm-9\">\n      <div class=\"row\">\n        <div class=\"col-sm-4\">\n          <div class=\"well\">\n            <p>ID: {{ payload.id }}</p> \n            <p>Date of Birth: {{ payload.dateOfBirth }}</p>\n            <p>Title: {{ payload.title }}</p> \n            <p>First Name: {{ payload.firstName }}</p> \n            <p>Middle Name: {{ payload.middleName }}</p>\n            <p>Last Name: {{ payload.maritalStatus }}</p>\n            <p>Phone: {{ payload.phone }}</p>\n            <p>Social Security: {{ payload.ssn }}</p>\n          </div>\n        </div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n\n</body>\n</html>\n","output":"str","x":380,"y":220,"wires":[["4b830abc.3195b4","f4bcbd77.73b9f"]]},{"id":"33d7e6ac.9d641a","type":"http response","z":"dd7088ff.5af3a8","name":"vr - response","statusCode":"","headers":{},"x":690,"y":420,"wires":[]},{"id":"e97d7d05.37b4","type":"change","z":"dd7088ff.5af3a8","name":"vt - borrower mediate - json","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":734,"y":1276,"wires":[["33d7e6ac.9d641a","4b830abc.3195b4"]]},{"id":"4b830abc.3195b4","type":"debug","z":"dd7088ff.5af3a8","name":"debug_main","active":true,"console":"false","complete":"payload","x":710,"y":560,"wires":[]},{"id":"79f6dd1f.c07914","type":"http in","z":"dd7088ff.5af3a8","name":"vr-post /borrower-data","url":"/borrower-data","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["f3c9886a.8c4148","7e4d4f97.91577"]]},{"id":"f3c9886a.8c4148","type":"template","z":"dd7088ff.5af3a8","name":"vt verify borrower","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Snoborder Mortgage Borrower Data</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  <style>\n    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */\n    .row.content {height: 550px}\n    \n    /* Set gray background color and 100% height */\n    .sidenav {\n      background-color: #f1f1f1;\n      height: 100%;\n    }\n        \n    /* On small screens, set height to 'auto' for the grid */\n    @media screen and (max-width: 767px) {\n      .row.content {height: auto;} \n    }\n  </style>\n</head>\n<body>\n\n<nav class=\"navbar navbar-inverse visible-xs\">\n  <div class=\"container-fluid\">\n    <div class=\"navbar-header\">\n      <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#myNavbar\">\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>                        \n      </button>\n      <a class=\"navbar-brand\" href=\"#\">Snoborder</a>\n    </div>\n    <div class=\"collapse navbar-collapse\" id=\"myNavbar\">\n      <ul class=\"nav navbar-nav\">\n        <li class=\"active\"><a href=\"#\">Mortgage Dashboard</a></li>\n        <li><a href=\"#\">{{ payload.firstName }}</a></li>\n        <li><a href=\"#\">{{ payload.lastName }}</a></li>\n        <li><a href=\"#\">{{ payload.middleName }}</a></li>\n      </ul>\n    </div>\n  </div>\n</nav>\n\n<div class=\"container-fluid\">\n  <div class=\"row content\">\n    <div class=\"col-sm-3 sidenav hidden-xs\">\n      <h2>Snoborder</h2>\n      <ul class=\"nav nav-pills nav-stacked\">\n        <li class=\"active\"><a href=\"#section1\">Dashboard</a></li>\n        <li><a href=\"#section2\">{{ payload.firstName }}</a></li>\n        <li><a href=\"#section3\">{{ payload.lastName }}</a></li>\n        <li><a href=\"#section3\">{{ payload.middleName }}</a></li>\n      </ul><br>\n    </div>\n    <br>\n    \n    <div class=\"col-sm-9\">\n      <div class=\"row\">\n        <div class=\"col-sm-4\">\n          <div class=\"well\">\n            <p>ID: {{ payload.id }}</p> \n            <p>Date of Birth: {{ payload.dateOfBirth }}</p>\n            <p>Title: {{ payload.title }}</p> \n            <p>First Name: {{ payload.firstName }}</p> \n            <p>Middle Name: {{ payload.middleName }}</p>\n            <p>Last Name: {{ payload.maritalStatus }}</p>\n            <p>Phone: {{ payload.phone }}</p>\n            <p>Social Security: {{ payload.ssn }}</p>\n          </div>\n        </div>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n</body>\n</html>\n","output":"str","x":390,"y":120,"wires":[["33d7e6ac.9d641a","4b830abc.3195b4"]]},{"id":"e69b6808.31bf38","type":"http request","z":"dd7088ff.5af3a8","name":"Google search","method":"GET","ret":"obj","url":"https://www.googleapis.com/customsearch/v1","tls":"","x":387,"y":312,"wires":[["33d7e6ac.9d641a"]]},{"id":"ce6ee5b1.12d878","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/borrower-google","method":"get","upload":false,"swaggerDoc":"","x":128.5,"y":310,"wires":[["e69b6808.31bf38"]]},{"id":"f1766c2e.2ab4d","type":"http in","z":"dd7088ff.5af3a8","name":"vr - post /agency-info","url":"/agency-info","method":"post","upload":false,"swaggerDoc":"","x":127,"y":358,"wires":[["e831cc01.dd196"]]},{"id":"e831cc01.dd196","type":"template","z":"dd7088ff.5af3a8","name":"vt - agency source","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Agency Info</h1>\n        <p>{{ payload.agencyname }}</p>\n        <p>{{ payload.address }}</p>\n        <p>{{ payload.city }}</p>\n    </body>\n</html>","output":"str","x":392,"y":365,"wires":[["e97d7d05.37b4"]]},{"id":"95cc395c.f9d6a8","type":"http in","z":"dd7088ff.5af3a8","name":"vr post /agent-info","url":"/agent-info","method":"post","upload":false,"swaggerDoc":"","x":117,"y":402,"wires":[["33be5490.786e5c"]]},{"id":"33be5490.786e5c","type":"template","z":"dd7088ff.5af3a8","name":"vt - agent source","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Agent Info</h1>\n        <p>{{ payload.firstname }}</p>\n        <p>{{ payload.lastname }}</p>\n        <p>{{ payload.address }}</p>\n    </body>\n</html>","output":"str","x":391,"y":403,"wires":[["e97d7d05.37b4"]]},{"id":"f9a13df6.85299","type":"http in","z":"c79da858.1e2cc8","name":"","url":"/verify-ind","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["e6c8d144.c2b25"]]},{"id":"e6c8d144.c2b25","type":"template","z":"c79da858.1e2cc8","name":"4506-T Verification Individual","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"form\" : \"4506-T\",\n\t\"name_in_taxform\" : \"John Bannon\",\n\t\"joint_return\"    : \"Jane Doe\",\n\t\"first_ssn\" : \"12345678\",\n\t\"second_ssn\" : \"87654321\",\n\t\"current_address\" : \"12 Main Street, Rockaway, NJ 07876\",\n\t\"previous_address\" : \"24 Main Street, Rockaway, NJ 07876\",\n\t\"transcript_requested\" : \"1040\",\n\t\"return_transcript\" : \"Y\",\n\t\"account_transcript\" : \"N\",\n\t\"record_of_account\" : \"N\",\n\t\"year_requested_start\" : \"2015-12-31\",\n\t\"year_requested_end\" : \"2016-12-31\",\n\t\"form_w2_1099\" : \"Y\",\n\t\"signed_as\" : \"John Doe\",\n\t\"sign_date\" : \"2017-7-15\"\n}\n","output":"str","x":440,"y":160,"wires":[["96ad4bb6.e2c9a8"]]},{"id":"d280c6f4.e0e1f8","type":"template","z":"c79da858.1e2cc8","name":"4506-T verify business","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"form\" : \"4506-T\",\n\t\"name_of_corp\": \"Acme Supplies\",\n\t\"ein\" : \"82-123456\",\n\t\"address\" : \"123 Factory street, Rockaway, NJ 07876\",\n\t\"transcript_requested\" : \"1040\",\n\t\"return_transcript\" : \"Y\",\n\t\"account_transcript\" : \"N\",\n\t\"record_of_account\" : \"N\",\n\t\"year_requested_start\" : \"2015-12-31\",\n\t\"year_requested_end\" : \"2016-12-31\",\n\t\"form_w2_1099\" : \"Y\",\n\t\"signed_as\" : \"John Doe\",\n\t\"sign_date\" : \"2017-7-15\"\n}\n","output":"str","x":425,"y":237,"wires":[["96ad4bb6.e2c9a8"]]},{"id":"388234f.be9f4cc","type":"comment","z":"c79da858.1e2cc8","name":"Four years of tax verification","info":"","x":304,"y":43,"wires":[]},{"id":"b8256129.0dd61","type":"comment","z":"c79da858.1e2cc8","name":"Transcripts (1040), wage and income data (W-2, 1099,1098, K-1)","info":"","x":430,"y":100,"wires":[]},{"id":"e663f65b.1f17d8","type":"comment","z":"c79da858.1e2cc8","name":"Business tax transcripts (1120, 1120S, 1065, 990)","info":"","x":200,"y":360,"wires":[]},{"id":"d1fb6abf.2bd5b8","type":"template","z":"c79da858.1e2cc8","name":"SSA 89 Verification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"form\": \"SSA-89\",\n\t\"printed_name\" : \"John Doe\",\n\t\"date-of-birth\": \"1961-01-01\",\n\t\"ssn\" : \"12345678\",\n\t\"specific_purpose\" : \"Mortgage loan\",\n\t\"company_name\" : \"Acme Supplies\",\n\t\"company_address\" : \"123 Factory street, Rockaway, NJ 07876\",\n\t\"consent_valid_days\" : \"90\",\n\t\"signed\" : \"Joe Smith\",\n\t\"date_sign\" : \"2017-07-15\",\n\t\"address_sign\" : \"100 Enterprise Way, Rockaway, NJ 07866\",\n\t\"phone_sign\" : \"8622681111\"\n} \n","output":"str","x":450,"y":300,"wires":[["96ad4bb6.e2c9a8"]]},{"id":"bcf90dad.4c821","type":"comment","z":"c79da858.1e2cc8","name":"Form SSA-89 (04-2017). Social Security Administration. Authorization for the Social Security Administration (SSA).","info":"","x":410,"y":400,"wires":[]},{"id":"1022c7da.4cccf8","type":"comment","z":"2435b8ee.69b368","name":"Fannie Mae's Loan Quality Initiative","info":"","x":185,"y":37,"wires":[]},{"id":"cfbe1b83.2e7828","type":"function","z":"2435b8ee.69b368","name":"fraud check","func":"/*\n* Screens borrowers and businesses \n* against the Housing and Urban Development \n* - General Services Administration \n* (HUD-GSA), Housing and Urban Development \n* - Limited Denial of Participation (HUD-LDP) \n* and other exclusionary lists to help \n* ensure investor \n* acceptance of your loan submissions.\n*/\nreturn msg;","outputs":1,"noerr":0,"x":522,"y":242,"wires":[["d59d0995.7f1ef8"]]},{"id":"27a34c22.ca7694","type":"comment","z":"c79da858.1e2cc8","name":"Possible - Veri-Tax","info":"","x":536,"y":43,"wires":[]},{"id":"55b7146b.f5334c","type":"comment","z":"2435b8ee.69b368","name":"Possible - Corelogic Credco","info":"","x":480,"y":40,"wires":[]},{"id":"f720dec9.d7c96","type":"comment","z":"6459c2a0.55348c","name":"Wet / Dry Funding","info":"“Wet funding” and “dry funding,” which varies by state, refer to when a mortgage is considered “officially” closed, mortgage funds are dispersed and the new owner can take possession of the property.","x":144,"y":62,"wires":[]},{"id":"f438c6f0.abc978","type":"comment","z":"6459c2a0.55348c","name":"Wet / Dry Closing","info":"How Long After Closing Does a Mortgage Fund? Purchase mortgages fund at or within 24 hours of closing; refinances take three days. A mortgage may fund at different times, depending on the lender and the loan. Sometimes mortgage lenders wire funds the day of the closing.","x":139,"y":124,"wires":[]},{"id":"63788383.fa503c","type":"comment","z":"6459c2a0.55348c","name":"Soft Closing","info":"Closing (also referred to as completion or settlement) is the final step in executing a real estate transaction. The closing date is set during the negotiation phase, and is usually several weeks after the offer is formally accepted. On the closing date, the ownership of the property is transferred to the buyer.","x":134,"y":200,"wires":[]},{"id":"fa3366ab.b379e8","type":"comment","z":"e64cfba2.fed7d8","name":"AUW","info":"Information from a mortgage loan application (Fannie Mae form 1003) is uploaded to an automated underwriting system (AUS) which retrieves relevant data, such as a borrower's credit history, and arrives at a logic-based loan decision.","x":90,"y":40,"wires":[]},{"id":"784f466f.fcbca8","type":"comment","z":"e64cfba2.fed7d8","name":"Fannie Mae / Freddie Mac","info":"During the normal processing of your loan application, your loan will probably get submitted to an AUS (automated underwriting system). There are two systems: one is Fannie Mae's DU (Desktop Underwriter — sometimes called Desktop Originator) and the other one is Freddie Mac's LP (Loan Prospector).","x":272,"y":39,"wires":[]},{"id":"d69cbe9a.fdc7a","type":"switch","z":"e64cfba2.fed7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"DU\"","vt":"str"},{"t":"eq","v":"\"LP\"","vt":"str"}],"checkall":"true","outputs":2,"x":367,"y":107,"wires":[["86a5695.cc55998"],["2f7148d2.6c4978"]]},{"id":"86a5695.cc55998","type":"function","z":"e64cfba2.fed7d8","name":"Conventional Loan","func":"/*\n* DU (Desktop Underwriter) is commonly \n* used for conventional loans. Whereas, \n* LP (loan prospector) is commonly used \n* for FHA loans. They can be intermingled, \n* but ALL prime mortgages start with \n* an automated underwriting engine \n* these days.\n*/\nreturn msg;","outputs":1,"noerr":0,"x":581,"y":99,"wires":[["6e0253ba.53f94c"]]},{"id":"2f7148d2.6c4978","type":"function","z":"e64cfba2.fed7d8","name":"FHA Loan","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":191,"wires":[["6e0253ba.53f94c"]]},{"id":"acde305e.f6f66","type":"function","z":"f4960ba0.f905e8","name":"Progress Price","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"OP\":\n        context.data.op = msg.payload;\n        msg = null;\n        break;\n    case \"LP\":\n        context.data.lp = msg.payload;\n        msg = null;\n        break;\n    case \"SP\":\n        context.data.sp = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.op != null \n  && context.data.lp != null \n  && context.data.sp != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":641,"y":190,"wires":[["ce4073a0.364ca","c3b253a2.3ac94"]]},{"id":"2fe21798.1107c8","type":"function","z":"f4960ba0.f905e8","name":"Original Price","func":"msg.topic = \"OP\";\nmsg.payload = \"{'op':'100000.00'}\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["acde305e.f6f66"]]},{"id":"30b3b2a9.0dd9ae","type":"function","z":"f4960ba0.f905e8","name":"List Price","func":"msg.topic = \"LP\";\nmsg.payload = \"{'lp':'110000.00'}\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["acde305e.f6f66"]]},{"id":"2ccc72f7.7f28ee","type":"function","z":"f4960ba0.f905e8","name":"Selling Price","func":"msg.topic = \"SP\";\nmsg.payload = \"{'sp':'105000.00'}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["acde305e.f6f66","a97ea970.f07ef8"]]},{"id":"4e097748.aa7d98","type":"inject","z":"f4960ba0.f905e8","name":"","topic":"","payload":"{}","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":140,"wires":[["2fe21798.1107c8","30b3b2a9.0dd9ae","2ccc72f7.7f28ee"]]},{"id":"ce4073a0.364ca","type":"debug","z":"f4960ba0.f905e8","name":"","active":true,"console":"false","complete":"true","x":670,"y":300,"wires":[]},{"id":"a97ea970.f07ef8","type":"debug","z":"f4960ba0.f905e8","name":"debug1","active":true,"console":"false","complete":"payload","x":564,"y":67,"wires":[]},{"id":"86ce776.1a37288","type":"function","z":"53b9e576.33cf5c","name":"Customer Service","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[[]]},{"id":"29e87d83.7a83d2","type":"function","z":"53b9e576.33cf5c","name":"Collections","func":"\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":151,"wires":[[]]},{"id":"67446963.026de8","type":"function","z":"53b9e576.33cf5c","name":"Default","func":"\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":61,"wires":[[]]},{"id":"ed9d8215.105f9","type":"function","z":"53b9e576.33cf5c","name":"Quality assurance","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[[]]},{"id":"5a03d91d.3b8328","type":"function","z":"53b9e576.33cf5c","name":"Escrow","func":"\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":59,"wires":[[]]},{"id":"cb436fad.1e192","type":"function","z":"53b9e576.33cf5c","name":"Tax","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":149,"wires":[[]]},{"id":"9ba82c3c.48b37","type":"function","z":"53b9e576.33cf5c","name":"Flood","func":"\nreturn msg;","outputs":1,"noerr":0,"x":683,"y":213,"wires":[[]]},{"id":"310e8230.da023e","type":"function","z":"53b9e576.33cf5c","name":"Insurance","func":"\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":282,"wires":[[]]},{"id":"c870a012.74b52","type":"function","z":"be213972.00a228","name":"Seller - Market Analysis","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":40,"wires":[["b0a43765.551678"]]},{"id":"b0a43765.551678","type":"function","z":"be213972.00a228","name":"Seller - Establish Price","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["40c57ef8.359ea"]]},{"id":"40c57ef8.359ea","type":"function","z":"be213972.00a228","name":"Seller - Listing Agreement","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["7afca3d0.b0610c"]]},{"id":"7afca3d0.b0610c","type":"function","z":"be213972.00a228","name":"Seller - Multiple Listing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["3243a715.ad69a8"]]},{"id":"3243a715.ad69a8","type":"function","z":"be213972.00a228","name":"Seller - Showings Appointments","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["61feeb45.91aaa4"]]},{"id":"61feeb45.91aaa4","type":"function","z":"be213972.00a228","name":"Buyer - Initial Commitment","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["e29bf6aa.40afd8"]]},{"id":"77045dfb.17a2a4","type":"inject","z":"be213972.00a228","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":51,"y":116,"wires":[["c870a012.74b52"]]},{"id":"e29bf6aa.40afd8","type":"function","z":"be213972.00a228","name":"Buyer Qualification","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["f4f59ae4.b22488"]]},{"id":"d3d2de93.f7b9e","type":"inject","z":"be213972.00a228","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":58,"y":316,"wires":[["61feeb45.91aaa4"]]},{"id":"61b1d0af.074fc","type":"function","z":"be213972.00a228","name":"Seller Offer","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":480,"wires":[["36355b32.c13a24"]]},{"id":"36355b32.c13a24","type":"function","z":"be213972.00a228","name":"Buyer Seller Accept Contract","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["aab0b8aa.efa378"]]},{"id":"f4f59ae4.b22488","type":"function","z":"be213972.00a228","name":"Seller Property Disclosure","func":"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["61b1d0af.074fc"]]},{"id":"aab0b8aa.efa378","type":"function","z":"be213972.00a228","name":"Seller Property Inspection","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":580,"wires":[["ac8db52b.888ad8"]]},{"id":"ac8db52b.888ad8","type":"function","z":"be213972.00a228","name":"Buyer Loan Process","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["411d1a89.707994"]]},{"id":"411d1a89.707994","type":"function","z":"be213972.00a228","name":"Buyer Escrow Earnest Money","func":"\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":608,"wires":[["4fada73.5122758"]]},{"id":"4fada73.5122758","type":"function","z":"be213972.00a228","name":"Title Search","func":"\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":683,"wires":[["739dbc50.0b97a4"]]},{"id":"739dbc50.0b97a4","type":"function","z":"be213972.00a228","name":"Seller Condition Removal","func":"\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":750,"wires":[["ddb079d7.f39588"]]},{"id":"ddb079d7.f39588","type":"function","z":"be213972.00a228","name":"Lender Loan Funding","func":"\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":757,"wires":[["7a8eb507.7b61bc"]]},{"id":"7a8eb507.7b61bc","type":"function","z":"be213972.00a228","name":"Closing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":829,"wires":[["f958b7f7.1e2da8"]]},{"id":"f958b7f7.1e2da8","type":"function","z":"be213972.00a228","name":"Title Records","func":"\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":836,"wires":[[]]},{"id":"f6367685.343458","type":"comment","z":"53b9e576.33cf5c","name":"Loan Boarding part of servicing","info":"","x":160,"y":23,"wires":[]},{"id":"a277a1d3.4d563","type":"http in","z":"338f8ff1.c5d62","name":"","url":"/depository-bank","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["a764a572.2d2858"]]},{"id":"3864ba6b.f50976","type":"http in","z":"338f8ff1.c5d62","name":"","url":"/non-depository-bank","method":"post","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["be169544.629f48"]]},{"id":"5e058a1.7244374","type":"comment","z":"338f8ff1.c5d62","name":"Commercial banks","info":"","x":129,"y":46,"wires":[]},{"id":"958188b2.f83818","type":"comment","z":"338f8ff1.c5d62","name":"Mortage banks and mortgage brokers","info":"","x":188,"y":194,"wires":[]},{"id":"a764a572.2d2858","type":"template","z":"338f8ff1.c5d62","name":"hold in portfolio","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":447,"y":98,"wires":[["48e7ada8.6a67d4"]]},{"id":"be169544.629f48","type":"template","z":"338f8ff1.c5d62","name":"sell loan","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":200,"y":340,"wires":[["3c4cf47c.b155bc"]]},{"id":"3c4cf47c.b155bc","type":"switch","z":"338f8ff1.c5d62","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"wholesale\"","vt":"str"},{"t":"eq","v":"\"mbs\"","vt":"str"},{"t":"eq","v":"\"bonds\"","vt":"str"}],"checkall":"true","outputs":3,"x":390,"y":340,"wires":[["2b60f085.d1b66"],["31f0a4c8.4e94ac"],["f6e1ecf9.0cf31"]]},{"id":"2b60f085.d1b66","type":"template","z":"338f8ff1.c5d62","name":"wholesale loan","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":560,"y":220,"wires":[["48e7ada8.6a67d4"]]},{"id":"31f0a4c8.4e94ac","type":"template","z":"338f8ff1.c5d62","name":"pool loan into mortgage based securities","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":660,"y":380,"wires":[["48e7ada8.6a67d4"]]},{"id":"f6e1ecf9.0cf31","type":"template","z":"338f8ff1.c5d62","name":"issue bonds","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":555,"y":463,"wires":[["48e7ada8.6a67d4"]]},{"id":"53fef8ce.5ee148","type":"comment","z":"338f8ff1.c5d62","name":"FNMA, LIC, Pension-Funds etc","info":"","x":590,"y":40,"wires":[]},{"id":"54c7d4f2.18e32c","type":"comment","z":"338f8ff1.c5d62","name":"FNMA, FHLMC, GNMA, Investment Bank","info":"","x":240,"y":400,"wires":[]},{"id":"48e7ada8.6a67d4","type":"http response","z":"338f8ff1.c5d62","name":"","statusCode":"","headers":{},"x":790,"y":220,"wires":[]},{"id":"1fbd3850.30f0a8","type":"function","z":"312316b9.5ba40a","name":"Risk based pricing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["b501b28c.38307"]]},{"id":"634d3214.3928fc","type":"function","z":"312316b9.5ba40a","name":"Mortgage suitability","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["b501b28c.38307"]]},{"id":"5ac98177.af6bf","type":"function","z":"312316b9.5ba40a","name":"Borrower credit risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["b501b28c.38307"]]},{"id":"95ca949f.4cbca8","type":"function","z":"312316b9.5ba40a","name":"Pipeline risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b501b28c.38307"]]},{"id":"c6676a59.881368","type":"function","z":"312316b9.5ba40a","name":"Fraud risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["b501b28c.38307"]]},{"id":"18b6a276.32463e","type":"function","z":"312316b9.5ba40a","name":"Loss mitigation","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["b501b28c.38307"]]},{"id":"dd47397a.738db8","type":"function","z":"312316b9.5ba40a","name":"Default risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":80,"wires":[["b501b28c.38307"]]},{"id":"32a72fb5.70e9f","type":"function","z":"312316b9.5ba40a","name":"Foreclosure risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":183,"wires":[["b501b28c.38307"]]},{"id":"93e595a6.c1b328","type":"http in","z":"312316b9.5ba40a","name":"","url":"/risk","method":"get","upload":false,"swaggerDoc":"","x":91,"y":206,"wires":[["1fbd3850.30f0a8","634d3214.3928fc","5ac98177.af6bf","95ca949f.4cbca8","c6676a59.881368","18b6a276.32463e","dd47397a.738db8","32a72fb5.70e9f"]]},{"id":"b501b28c.38307","type":"function","z":"312316b9.5ba40a","name":"Aggregated risk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":240,"wires":[["d89ee9a5.3e4908"]]},{"id":"d89ee9a5.3e4908","type":"http response","z":"312316b9.5ba40a","name":"","statusCode":"","headers":{},"x":1007,"y":237,"wires":[]},{"id":"cc36d491.4e24e8","type":"template","z":"2435b8ee.69b368","name":"credit gap analysis","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"form\" : \"Credit Gap\",\n\t\"less-than-1year\" : {\n\t\"Non-current-financial-debt\": \"0.00\",\n\t\"current-borrowings\": \"-10942\",\n\t\"other-current-liabilities\": \"-180\",\n\t\"current-financial-assets\": \"1293\",\n\t\"assets-liabs-for-sale-exch\": \"56\",\n\t\"cash\": \"25181\",\n\t\"net-before-financial-expense\": \"15408\",\n\t\"financial-expense\": \"-901\",\n\t\"interest-differential\": \"369\",\n\t\"net-amount\": \"14876\"\n\t},\n\t\"1-2years\" : {\n\t\"Non-current-financial-debt\": \"-4793\",\n\t\"current-borrowings\": \"0\",\n\t\"other-current-liabilities\": \"0\",\n\t\"current-financial-assets\": \"0\",\n\t\"assets-liabs-for-sale-exch\": \"0\",\n\t\"cash\": \"0\",\n\t\"net-before-financial-expense\": \"-4793\",\n\t\"financial-expense\": \"-833\",\n\t\"interest-differential\": \"167\",\n\t\"net-amount\": \"5459\"\n\t},\n\t\"2-3years\" : {\n\t\"Non-current-financial-debt\": \"-4547\",\n\t\"current-borrowings\": \"0\",\n\t\"other-current-liabilities\": \"0\",\n\t\"current-financial-assets\": \"0\",\n\t\"assets-liabs-for-sale-exch\": \"0\",\n\t\"cash\": \"0\",\n\t\"net-before-financial-expense\": \"-4547\",\n\t\"financial-expense\": \"-783\",\n\t\"interest-differential\": \"31\",\n\t\"net-amount\": \"5361\"\n\t}\n}","output":"str","x":310,"y":100,"wires":[["d59d0995.7f1ef8"]]},{"id":"c2de4859.2d9ab8","type":"http in","z":"2435b8ee.69b368","name":"","url":"/lql","method":"get","upload":false,"swaggerDoc":"","x":94,"y":99,"wires":[["cc36d491.4e24e8"]]},{"id":"d59d0995.7f1ef8","type":"http response","z":"2435b8ee.69b368","name":"","statusCode":"","headers":{},"x":691,"y":118,"wires":[]},{"id":"62def228.ac46fc","type":"http in","z":"c79da858.1e2cc8","name":"","url":"/verify-biz","method":"get","upload":false,"swaggerDoc":"","x":101,"y":177,"wires":[["d280c6f4.e0e1f8"]]},{"id":"886977b2.2269d8","type":"http in","z":"c79da858.1e2cc8","name":"","url":"/ssa89","method":"get","upload":false,"swaggerDoc":"","x":91,"y":244,"wires":[["d1fb6abf.2bd5b8"]]},{"id":"96ad4bb6.e2c9a8","type":"http response","z":"c79da858.1e2cc8","name":"","statusCode":"","headers":{},"x":690,"y":220,"wires":[]},{"id":"b2b623f0.e17f1","type":"template","z":"2435b8ee.69b368","name":"application check","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"form\": \"application-check\",\n\t\"application-fee\" : false,\n\t\"identified-driv-lic\": false,\n\t\"ssn-or-itin\" : false,\n\t\"res-address-2-years\" : false,\n\t\"income-verify\" : true,\n\t\"employer-verify-2years\" : false,\n\t\"consent_valid_days\" : \"90\",\n\t\"2-months-paystub\" : false,\n\t\"w2-2years\" : true,\n\t\"tax-return\" : true,\n\t\"other-income-verify\" : true,\n\t\"asset-verify\" : true,\n\t\"list-of-assets\": true,\n\t\"chap-17-or-13\": false,\n\t\"divorce-decree\": false,\n\t\"va-loan-eligibility\" : false\n} \n","output":"str","x":350,"y":180,"wires":[["d59d0995.7f1ef8"]]},{"id":"677b44f7.353f4c","type":"http in","z":"2435b8ee.69b368","name":"","url":"/app-check","method":"get","upload":false,"swaggerDoc":"","x":125,"y":175,"wires":[["b2b623f0.e17f1"]]},{"id":"84f972d1.8512d","type":"http in","z":"dd7088ff.5af3a8","name":"vr post /address-ref","url":"/address-ref","method":"post","upload":false,"swaggerDoc":"","x":118,"y":451,"wires":[["2bfa4baa.f17554"]]},{"id":"2bfa4baa.f17554","type":"template","z":"dd7088ff.5af3a8","name":"vt address ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Address Ref</h1>\n        <p>{{ payload.address_1 }}</p>\n        <p>{{ payload.city }}</p>\n        <p>{{ payload.ownrent }}</p>\n    </body>\n</html>","output":"str","x":371,"y":450,"wires":[["e97d7d05.37b4"]]},{"id":"1fcb6585.42d1ba","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/alimony-child","method":"post","upload":false,"swaggerDoc":"","x":119,"y":490,"wires":[["8f2a6ad5.6a5de8"]]},{"id":"8f2a6ad5.6a5de8","type":"template","z":"dd7088ff.5af3a8","name":"alimony child support","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":401,"y":492,"wires":[["e97d7d05.37b4"]]},{"id":"c2d91fec.c2d2f","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/assets-liabs","method":"post","upload":false,"swaggerDoc":"","x":119,"y":545,"wires":[["6cf68abe.11f444"]]},{"id":"6cf68abe.11f444","type":"template","z":"dd7088ff.5af3a8","name":"other assets and liabilities","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":410,"y":543,"wires":[["e97d7d05.37b4"]]},{"id":"ec4c0c9b.83656","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/assets","method":"post","upload":false,"swaggerDoc":"","x":101,"y":601,"wires":[["e79b3ce6.b4fcd"]]},{"id":"91254bc2.f19268","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/automobile","method":"post","upload":false,"swaggerDoc":"","x":124,"y":687,"wires":[["26aeef2b.e7e3f"]]},{"id":"e79b3ce6.b4fcd","type":"template","z":"dd7088ff.5af3a8","name":"assets","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":350,"y":597,"wires":[["e97d7d05.37b4"]]},{"id":"26aeef2b.e7e3f","type":"template","z":"dd7088ff.5af3a8","name":"automobile","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":393,"y":685,"wires":[["e97d7d05.37b4"]]},{"id":"bbf98630.4a2e08","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/cash-deposit","method":"post","upload":false,"swaggerDoc":"","x":126,"y":725,"wires":[["3a94a568.5944da"]]},{"id":"3a94a568.5944da","type":"template","z":"dd7088ff.5af3a8","name":"cash deposit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":391,"y":726,"wires":[["e97d7d05.37b4"]]},{"id":"ef961acc.b9a448","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/checking-saving","method":"post","upload":false,"swaggerDoc":"","x":140,"y":796,"wires":[["1c4425c6.f557ba"]]},{"id":"1c4425c6.f557ba","type":"template","z":"dd7088ff.5af3a8","name":"checking savings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":397,"y":766,"wires":[["e97d7d05.37b4"]]},{"id":"ae47cdcb.58081","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/construction-type","method":"post","upload":false,"swaggerDoc":"","x":139,"y":832,"wires":[["6e5523fd.68438c"]]},{"id":"6e5523fd.68438c","type":"template","z":"dd7088ff.5af3a8","name":"construction type","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":403,"y":820,"wires":[["e97d7d05.37b4"]]},{"id":"795527bc.10a158","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/credit-received","method":"post","upload":false,"swaggerDoc":"","x":140,"y":920,"wires":[["fc948402.9c2408"]]},{"id":"fc948402.9c2408","type":"template","z":"dd7088ff.5af3a8","name":"credit received","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":397,"y":887,"wires":[["e97d7d05.37b4"]]},{"id":"c7d739f3.206c98","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/declarations","method":"post","upload":false,"swaggerDoc":"","x":130,"y":952,"wires":[["6fcbb119.3cfb7"]]},{"id":"6fcbb119.3cfb7","type":"template","z":"dd7088ff.5af3a8","name":"declarations","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":389,"y":952,"wires":[["e97d7d05.37b4"]]},{"id":"c2779d87.c3c0f","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/employment","method":"post","upload":false,"swaggerDoc":"","x":134,"y":1029,"wires":[["422f5f04.e822b"]]},{"id":"422f5f04.e822b","type":"template","z":"dd7088ff.5af3a8","name":"employment","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":392,"y":1008,"wires":[["e97d7d05.37b4"]]},{"id":"5da489f6.0f05e8","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/expense","method":"post","upload":false,"swaggerDoc":"","x":122,"y":1063,"wires":[["4ddcdbaf.ef3414"]]},{"id":"4ddcdbaf.ef3414","type":"template","z":"dd7088ff.5af3a8","name":"expense","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":385,"y":1061,"wires":[["e97d7d05.37b4"]]},{"id":"81b46bc0.114e48","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/govt-monitoring","method":"post","upload":false,"swaggerDoc":"","x":142,"y":1123,"wires":[["6f901bdf.bdd254"]]},{"id":"6f901bdf.bdd254","type":"template","z":"dd7088ff.5af3a8","name":"government monitoring","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":429,"y":1119,"wires":[["e97d7d05.37b4"]]},{"id":"2197e07d.807f9","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/improvement","method":"post","upload":false,"swaggerDoc":"","x":133,"y":1205,"wires":[["9446df6c.e6806"]]},{"id":"9446df6c.e6806","type":"template","z":"dd7088ff.5af3a8","name":"improvement","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":396,"y":1189,"wires":[["e97d7d05.37b4"]]},{"id":"167df2cd.a7d9dd","type":"comment","z":"dd7088ff.5af3a8","name":"Refinance","info":"","x":98,"y":1167,"wires":[]},{"id":"dbb04ab0.847f98","type":"comment","z":"dd7088ff.5af3a8","name":"Census","info":"","x":624,"y":1115,"wires":[]},{"id":"c7d5d26c.58a39","type":"comment","z":"dd7088ff.5af3a8","name":"payroll provider (ex: ADP)","info":"","x":152,"y":993,"wires":[]},{"id":"fa72a233.7b057","type":"comment","z":"dd7088ff.5af3a8","name":"Revenue statement","info":"","x":664,"y":1058,"wires":[]},{"id":"59c3837f.e0f37c","type":"comment","z":"dd7088ff.5af3a8","name":"Credit report","info":"","x":116,"y":887,"wires":[]},{"id":"59e151a5.b4453","type":"comment","z":"dd7088ff.5af3a8","name":"Appraisal ex: Zillow","info":"","x":654,"y":818,"wires":[]},{"id":"640e2e0f.1f177","type":"comment","z":"dd7088ff.5af3a8","name":"Bank","info":"","x":87,"y":762,"wires":[]},{"id":"bd407fd4.c1ab9","type":"comment","z":"dd7088ff.5af3a8","name":"Motor Vehicles (ex: Lexus-Nexus)","info":"","x":162,"y":642,"wires":[]},{"id":"7a6b2d8d.4bea04","type":"comment","z":"dd7088ff.5af3a8","name":"Borrower (ex: PIPL FullContact)","info":"","x":370,"y":280,"wires":[]},{"id":"7daf72ea.3fc56c","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/income","method":"post","upload":false,"swaggerDoc":"","x":111,"y":1251,"wires":[["4d528045.e8153"]]},{"id":"4d528045.e8153","type":"template","z":"dd7088ff.5af3a8","name":"income","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":388,"y":1254,"wires":[["e97d7d05.37b4"]]},{"id":"9771138b.2e4ae","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/job-related-exp","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1300,"wires":[["1571cdcf.fbc3d2"]]},{"id":"1571cdcf.fbc3d2","type":"template","z":"dd7088ff.5af3a8","name":"job related expense","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":411,"y":1299,"wires":[["e97d7d05.37b4"]]},{"id":"b73d6dc4.81f26","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/liability","method":"post","upload":false,"swaggerDoc":"","x":109,"y":1336,"wires":[["37b8c172.ad531e"]]},{"id":"cea78200.0c96a","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/listing","method":"post","upload":false,"swaggerDoc":"","x":107,"y":1414,"wires":[["6a742562.49ad6c"]]},{"id":"eade67db.145248","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/loan-application","method":"post","upload":false,"swaggerDoc":"","x":137,"y":1451,"wires":[["8675ab26.160a28"]]},{"id":"37b8c172.ad531e","type":"template","z":"dd7088ff.5af3a8","name":"liability","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":372,"y":1345,"wires":[["e97d7d05.37b4"]]},{"id":"6a742562.49ad6c","type":"template","z":"dd7088ff.5af3a8","name":"listing (mls)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":391,"y":1399,"wires":[["e97d7d05.37b4"]]},{"id":"8675ab26.160a28","type":"template","z":"dd7088ff.5af3a8","name":"loan application 1003","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":418,"y":1452,"wires":[["e97d7d05.37b4"]]},{"id":"c5a86ae6.048838","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/money-transaction","method":"post","upload":false,"swaggerDoc":"","x":148,"y":1489,"wires":[["9b92783b.0a8558"]]},{"id":"5154262a.4a77a8","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/property","method":"post","upload":false,"swaggerDoc":"","x":119,"y":1561,"wires":[["97a08239.2697c"]]},{"id":"4b34622d.5dcd9c","type":"comment","z":"dd7088ff.5af3a8","name":"mls state mls or corelogic","info":"","x":151,"y":1374,"wires":[]},{"id":"67890217.1c73bc","type":"comment","z":"dd7088ff.5af3a8","name":"Property Info (ex: Zillow, Corelogic)","info":"","x":178,"y":1526,"wires":[]},{"id":"9b92783b.0a8558","type":"template","z":"dd7088ff.5af3a8","name":"money transaction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":412,"y":1487,"wires":[["e97d7d05.37b4"]]},{"id":"97a08239.2697c","type":"template","z":"dd7088ff.5af3a8","name":"property info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":397,"y":1564,"wires":[["e97d7d05.37b4"]]},{"id":"ae8e744c.36a578","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/purpose","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1600,"wires":[["2475497c.d766a6"]]},{"id":"8dffa667.ce1718","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/referral","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1650,"wires":[["de3ac40b.abb728"]]},{"id":"2475497c.d766a6","type":"template","z":"dd7088ff.5af3a8","name":"purpose","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":476,"y":1602,"wires":[["e97d7d05.37b4"]]},{"id":"de3ac40b.abb728","type":"template","z":"dd7088ff.5af3a8","name":"referral","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":479,"y":1646,"wires":[["e97d7d05.37b4"]]},{"id":"b5479cbc.24bc6","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/refinance","method":"post","upload":false,"swaggerDoc":"","x":119,"y":1697,"wires":[["fa14e39f.23654"]]},{"id":"17fa7253.99eb2e","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/subcontract","method":"post","upload":false,"swaggerDoc":"","x":129,"y":1741,"wires":[["aac55df8.b2176"]]},{"id":"fa14e39f.23654","type":"template","z":"dd7088ff.5af3a8","name":"refinance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":477,"y":1697,"wires":[["e97d7d05.37b4"]]},{"id":"aac55df8.b2176","type":"template","z":"dd7088ff.5af3a8","name":"subcontract","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":483,"y":1739,"wires":[[]]},{"id":"e6374e19.5eae2","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/seller","method":"post","upload":false,"swaggerDoc":"","x":113,"y":1793,"wires":[["de4072ba.e9766"]]},{"id":"eb279c3d.417d5","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/stocks-bonds","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1843,"wires":[["540a831c.eae03c"]]},{"id":"de4072ba.e9766","type":"template","z":"dd7088ff.5af3a8","name":"seller info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":473,"y":1787,"wires":[["e97d7d05.37b4"]]},{"id":"540a831c.eae03c","type":"template","z":"dd7088ff.5af3a8","name":"stocks and bonds","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":499,"y":1839,"wires":[["e97d7d05.37b4"]]},{"id":"3c08d81b.9c69b8","type":"template","z":"dd7088ff.5af3a8","name":"transaction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":481,"y":1891,"wires":[["e97d7d05.37b4"]]},{"id":"65954119.a42e6","type":"http in","z":"dd7088ff.5af3a8","name":"","url":"/transaction","method":"post","upload":false,"swaggerDoc":"","x":133,"y":1894,"wires":[["3c08d81b.9c69b8"]]},{"id":"98f93ef4.a2576","type":"http in","z":"2435b8ee.69b368","name":"","url":"/fraud-check","method":"get","upload":false,"swaggerDoc":"","x":131,"y":252,"wires":[["e8351389.33dfd"]]},{"id":"e8351389.33dfd","type":"template","z":"2435b8ee.69b368","name":"fraud check","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":332,"y":246,"wires":[["cfbe1b83.2e7828"]]},{"id":"b03f4b2a.2c1148","type":"http in","z":"e64cfba2.fed7d8","name":"","url":"/underwriting","method":"post","upload":false,"swaggerDoc":"","x":128,"y":111,"wires":[["d69cbe9a.fdc7a"]]},{"id":"dadec2e7.7cffe","type":"comment","z":"e64cfba2.fed7d8","name":"Post 1003","info":"","x":104,"y":169,"wires":[]},{"id":"6e0253ba.53f94c","type":"http response","z":"e64cfba2.fed7d8","name":"","statusCode":"","headers":{},"x":694,"y":328,"wires":[]},{"id":"74d0a180.37f7c","type":"template","z":"2435b8ee.69b368","name":"fraud alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":330,"y":320,"wires":[[]]},{"id":"2d5fa555.84a86a","type":"function","z":"2435b8ee.69b368","name":"ernst publishing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[[]]},{"id":"7a527b51.874d34","type":"function","z":"e64cfba2.fed7d8","name":"overlays","func":"\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":224,"wires":[[]]},{"id":"7118b66e.c033c8","type":"function","z":"e64cfba2.fed7d8","name":"va lap","func":"\nreturn msg;","outputs":1,"noerr":0,"x":461,"y":42,"wires":[[]]},{"id":"f105ff0e.ecc76","type":"function","z":"e64cfba2.fed7d8","name":"FHA","func":"\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":41,"wires":[[]]},{"id":"339f1b2.599bee4","type":"function","z":"e64cfba2.fed7d8","name":"USDA","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":40,"wires":[[]]},{"id":"1a3ac920.7757a7","type":"inject","z":"dd7088ff.5af3a8","name":"","topic":"","payload":"{   \"id\" : 1,   \"dateOfBirth\" : \"1962-03-06\",   \"firstName\" : \"Jonathon\",   \"lastName\" : \"Seagull\",   \"maritalStatus\" : \"single\",   \"middleName\" : \"Livingston\",   \"phone\" : \"8622688622\",   \"ssn\" : \"123456789\",   \"title\" : \"\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":120,"wires":[["f3c9886a.8c4148","7e4d4f97.91577"]]},{"id":"7e4d4f97.91577","type":"file","z":"dd7088ff.5af3a8","name":"","filename":"fm_1003.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":400,"y":80,"wires":[]},{"id":"db5fb558.6c4ff8","type":"comment","z":"dd7088ff.5af3a8","name":"The JSON object is stored in a file while sent to the response","info":"","x":260,"y":40,"wires":[]},{"id":"4a6e3c1e.044e44","type":"file in","z":"dd7088ff.5af3a8","name":"","filename":"fm_1003.json","format":"utf8","chunk":false,"sendError":false,"x":360,"y":160,"wires":[["d8345e4b.114e8"]]},{"id":"f4bcbd77.73b9f","type":"http response","z":"dd7088ff.5af3a8","name":"","statusCode":"","headers":{},"x":630,"y":220,"wires":[]},{"id":"cc251742.e321a8","type":"debug","z":"dd7088ff.5af3a8","name":"debugborrower","active":true,"console":"false","complete":"payload","x":640,"y":80,"wires":[]},{"id":"fbef719f.bdf23","type":"inject","z":"dd7088ff.5af3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["4a6e3c1e.044e44"]]},{"id":"d8345e4b.114e8","type":"json","z":"dd7088ff.5af3a8","name":"","pretty":true,"x":527,"y":159,"wires":[["cc251742.e321a8","395c538c.23259c"]]},{"id":"8b761346.82f84","type":"serial out","z":"858a167a.2b3c78","name":"","serial":"ad880643.3c8498","x":430,"y":140,"wires":[]},{"id":"ee565e71.95158","type":"debug","z":"858a167a.2b3c78","name":"","active":true,"console":"false","complete":"payload","x":321,"y":244,"wires":[]},{"id":"36eefbaa.a2aab4","type":"serial in","z":"858a167a.2b3c78","name":"","serial":"ad880643.3c8498","x":220,"y":64,"wires":[["ee565e71.95158"]]},{"id":"82ab660b.298a78","type":"inject","z":"858a167a.2b3c78","name":"","topic":"","payload":"A","payloadType":"str","repeat":"","crontab":"","once":false,"x":123,"y":143,"wires":[["8b761346.82f84"]]},{"id":"4724ee4.ec15f1","type":"serial in","z":"891397a2.3f4f78","name":"","serial":"ad880643.3c8498","x":140,"y":200,"wires":[["3cbffbc0.9490b4","127e9814.95e438"]]},{"id":"3cbffbc0.9490b4","type":"function","z":"891397a2.3f4f78","name":"","func":"var value = parseInt(msg.payload.trim());\n\nif (value >= 0)\n    var newMsg = { payload:\"LED;ON\" };\nelse\n    var newMsg = { payload:\"LED;OFF\" };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":317,"wires":[["9b9dd469.e0f838","1fe6a42d.bcd22c"]]},{"id":"1fe6a42d.bcd22c","type":"serial out","z":"891397a2.3f4f78","name":"","serial":"ad880643.3c8498","x":510,"y":460,"wires":[]},{"id":"127e9814.95e438","type":"debug","z":"891397a2.3f4f78","name":"","active":true,"console":"false","complete":"false","x":332,"y":59.5,"wires":[]},{"id":"9b9dd469.e0f838","type":"debug","z":"891397a2.3f4f78","name":"","active":true,"console":"false","complete":"payload","x":605,"y":125.5,"wires":[]},{"id":"f90d189a.c6be08","type":"inject","z":"891397a2.3f4f78","name":"","topic":"","payload":"LED;ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":247,"y":555,"wires":[["1fe6a42d.bcd22c"]]},{"id":"33c7062f.5040da","type":"inject","z":"891397a2.3f4f78","name":"","topic":"","payload":"LED;OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":207,"y":642,"wires":[["1fe6a42d.bcd22c"]]},{"id":"c65abfb9.a8286","type":"xml-validate","z":"94746d31.6a319","name":"","filename":"","x":295,"y":183.5,"wires":[[],[],[]]},{"id":"4b77bbfe.445c84","type":"xml","z":"94746d31.6a319","name":"","attr":"","chr":"","x":460,"y":274,"wires":[["14485427.aff51c"]]},{"id":"fe2fc71a.e11f28","type":"inject","z":"94746d31.6a319","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":87,"y":39,"wires":[["3aba1a7.8a82ce6"]]},{"id":"3aba1a7.8a82ce6","type":"file in","z":"94746d31.6a319","name":"","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/data.xml","format":"utf8","chunk":false,"sendError":false,"x":342,"y":117,"wires":[["4b77bbfe.445c84"]]},{"id":"14485427.aff51c","type":"debug","z":"94746d31.6a319","name":"","active":true,"console":"false","complete":"true","x":550,"y":384,"wires":[]},{"id":"b563c9a.d2c5138","type":"http in","z":"8994356a.b29d88","name":"","url":"/ULDD","method":"get","upload":false,"swaggerDoc":"","x":107,"y":39,"wires":[["c59b65fc.d44568"]]},{"id":"aa6db9b2.144d88","type":"http response","z":"8994356a.b29d88","name":"","statusCode":"","headers":{},"x":581,"y":346,"wires":[]},{"id":"5f2f80e0.9539e","type":"json","z":"8994356a.b29d88","name":"","pretty":true,"x":290,"y":160,"wires":[["b28c4613.3a2f28"]]},{"id":"c59b65fc.d44568","type":"file in","z":"8994356a.b29d88","name":"","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/data.json","format":"utf8","chunk":false,"sendError":false,"x":420,"y":93,"wires":[["5f2f80e0.9539e"]]},{"id":"bae8a1f7.bbce7","type":"xml","z":"8994356a.b29d88","name":"","attr":"","chr":"","x":333,"y":307,"wires":[["aa6db9b2.144d88"]]},{"id":"b28c4613.3a2f28","type":"function","z":"8994356a.b29d88","name":"json to xml","func":"var key, elem;\nvar xml = \"\";\nvar json = msg.payload;\nmsg.payload = json2xml(json, \"    \");\nreturn msg;\n\nfunction json2xml(o, tab) {\n   var toXml = function(v, name, ind) {\n      var xml = \"\";\n      if (v instanceof Array) {\n         for (var i=0, n=v.length; i<n; i++)\n            xml += ind + toXml(v[i], name, ind+\"\\t\") + \"\\n\";\n      }\n      else if (typeof(v) == \"object\") {\n         var hasChild = false;\n         xml += ind + \"<\" + name;\n         for (var m in v) {\n            if (m.charAt(0) == \"@\")\n               xml += \" \" + m.substr(1) + \"=\\\"\" + v[m].toString() + \"\\\"\";\n            else\n               hasChild = true;\n         }\n         xml += hasChild ? \">\" : \"/>\";\n         if (hasChild) {\n            for (var m in v) {\n               if (m == \"#text\")\n                  xml += v[m];\n               else if (m == \"#cdata\")\n                  xml += \"<![CDATA[\" + v[m] + \"]]>\";\n               else if (m.charAt(0) != \"@\")\n                  xml += toXml(v[m], m, ind+\"\\t\");\n            }\n            xml += (xml.charAt(xml.length-1)==\"\\n\"?ind:\"\") + \"</\" + name + \">\";\n         }\n      }\n      else {\n         xml += ind + \"<\" + name + \">\" + v.toString() +  \"</\" + name + \">\";\n      }\n      return xml;\n   }, xml=\"\";\n   for (var m in o)\n      xml += toXml(o[m], m, \"\");\n   return tab ? xml.replace(/\\t/g, tab) : xml.replace(/\\t|\\n/g, \"\");\n}\n\n","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["ac0c3e75.b6d12","bae8a1f7.bbce7"]]},{"id":"ac0c3e75.b6d12","type":"debug","z":"8994356a.b29d88","name":"","active":true,"console":"false","complete":"false","x":610,"y":440,"wires":[]},{"id":"9a22263a.86df58","type":"comment","z":"94746d31.6a319","name":"Read XML Data File","info":"","x":282,"y":42,"wires":[]},{"id":"9f154f13.4000e","type":"comment","z":"8994356a.b29d88","name":"Read cumulated json file to xml","info":"","x":349,"y":36,"wires":[]},{"id":"2b071867.6022c8","type":"inject","z":"3be3501.c18f8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":40,"wires":[["68be4497.231d0c","186f5ff4.c8692"]]},{"id":"68be4497.231d0c","type":"file in","z":"3be3501.c18f8b","name":"about_json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json","format":"utf8","chunk":false,"sendError":false,"x":150,"y":120,"wires":[["1c57813e.f651cf"]]},{"id":"186f5ff4.c8692","type":"file in","z":"3be3501.c18f8b","name":"parties.json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json","format":"utf8","chunk":false,"sendError":false,"x":150,"y":180,"wires":[["afeb6837.6f6b08"]]},{"id":"3ea094cd.960c0c","type":"function","z":"3be3501.c18f8b","name":"aggregate","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"about\":\n        context.data.about = msg.payload;\n        msg = null;\n        break;\n    case \"parties\":\n        context.data.parties = msg.payload;\n        msg = null;\n        break;\n    /*    \n    case \"parties_deal\":\n        context.data.parties_deal = msg.payload;\n        msg = null;\n        break;\n    case \"loans\":\n        context.data.loans = msg.payload;\n        msg = null;\n        break;\n    case \"collaterals\":\n        context.data.collaterals = msg.payload;\n        msg = null;\n        break;\n    */\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif (context.data.about !== null && context.data.parties !== null) { // && context.data.parties_deal !== null && context.data.loans !== null && context.data.collaterals !== null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n    context.data = null;\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["5966e0ed.ef96e"]]},{"id":"1c57813e.f651cf","type":"function","z":"3be3501.c18f8b","name":"about","func":"msg.topic = \"about\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["3479096d.fc57c6","203440b2.1e3fa"]]},{"id":"f9ab58e9.bd1bc8","type":"debug","z":"3be3501.c18f8b","name":"json_debug","active":true,"console":"false","complete":"true","x":890,"y":420,"wires":[]},{"id":"afeb6837.6f6b08","type":"function","z":"3be3501.c18f8b","name":"parties","func":"msg.topic=\"parties\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["67b6a6de.326e38"]]},{"id":"4855063f.25e648","type":"file in","z":"3be3501.c18f8b","name":"loans Json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json","format":"utf8","chunk":false,"sendError":false,"x":150,"y":240,"wires":[["2ba1e9f4.8c5e46"]]},{"id":"2ba1e9f4.8c5e46","type":"function","z":"3be3501.c18f8b","name":"loans","func":"msg.topic=\"loans\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":241,"wires":[["396e4022.18bbc"]]},{"id":"4d8a2fce.f222b","type":"function","z":"3be3501.c18f8b","name":"parties deal","func":"msg.topic=\"parties_deal\";\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":310,"wires":[["425a5e5.48b57a"]]},{"id":"2f107464.08d31c","type":"file in","z":"3be3501.c18f8b","name":"parties deal json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json","format":"utf8","chunk":false,"sendError":false,"x":164,"y":305,"wires":[["4d8a2fce.f222b"]]},{"id":"1de5fd0.ebda303","type":"file in","z":"3be3501.c18f8b","name":"collaterals json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json","format":"utf8","chunk":false,"sendError":false,"x":170,"y":384,"wires":[["9f703349.07084"]]},{"id":"9f703349.07084","type":"function","z":"3be3501.c18f8b","name":"collaterals","func":"msg.topic=\"collaterals\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["9fcd250f.9a15e8"]]},{"id":"75ffb384.b3d58c","type":"http in","z":"3be3501.c18f8b","name":"","url":"/ULDDAGG","method":"get","upload":false,"swaggerDoc":"","x":282,"y":40,"wires":[[]]},{"id":"eb34e6ec.8b5ab8","type":"http response","z":"3be3501.c18f8b","name":"response json","statusCode":"","headers":{"content-type":"application/json"},"x":980,"y":160,"wires":[]},{"id":"5966e0ed.ef96e","type":"json","z":"3be3501.c18f8b","name":"aggregate json","pretty":false,"x":800,"y":260,"wires":[["f9ab58e9.bd1bc8","3f7de46d.ec41cc"]]},{"id":"105a3cf.3940ec3","type":"inject","z":"76b0172e.e6da98","name":"","topic":"","payload":"{  \"MESSAGE\": {    \"-xmlns\": \"http://www.mismo.org/residential/2009/schemas\",    \"-xmlns:xsi\": \"http://www.w3.org/2001/XMLSchema-instance\",    \"-xmlns:ULDD\": \"http://www.datamodelextension.org/Schema/ULDD\",    \"-MISMOReferenceModelIdentifier\": \"3.0[B263-12]\",    \"-xsi:schemaLocation\": \"http://www.datamodelextension.org/Schema/ULDD/ULDD_Phase_3_Extension.xsd\",    \"parsererror\": {      \"-style\": \"display: block; white-space: pre; border: 2px solid #c77; padding: 0 1em 0 1em; margin: 1em; background-color: #fdd; color: black\",      \"h3\": [        \"This page contains the following errors:\",        \"Below is a rendering of the page up to the first error.\"      ],      \"div\": {        \"-style\": \"font-family:monospace;font-size:12px\",        \"#text\": \"error on line 209 at column 16: Extra content at the end of the document\"      }    },    \"PARTIES\": {      \"PARTY\": [        {          \"INDIVIDUAL\": {            \"NAME\": {              \"FirstName\": \"John\",              \"LastName\": \"Smith\",              \"MiddleName\": \"Q\",              \"SuffixName\": \"JR\"            }          },          \"ROLES\": {            \"ROLE\": {              \"BORROWER\": {                \"BORROWER_DETAIL\": {                  \"BorrowerAgeAtApplicationYearsCount\": \"44\",                  \"BorrowerBirthDate\": \"1972-01-02\",                  \"BorrowerClassificationType\": \"Primary\",                  \"BorrowerMailToAddressSameAsPropertyIndicator\": \"true\",                  \"BorrowerQualifyingIncomeAmount\": \"12500\"                },                \"CREDIT_SCORES\": {                  \"CREDIT_SCORE\": {                    \"CREDIT_SCORE_DETAIL\": {                      \"CreditReportIdentifier\": \"5432109876\",                      \"CreditRepositorySourceIndicator\": \"true\",                      \"CreditRepositorySourceType\": \"Equifax\",                      \"CreditScoreValue\": \"730\"                    }                  }                },                \"DECLARATION\": {                  \"DECLARATION_DETAIL\": {                    \"BankruptcyIndicator\": \"false\",                    \"BorrowerFirstTimeHomebuyerIndicator\": \"true\",                    \"CitizenshipResidencyType\": \"USCitizen\",                    \"LoanForeclosureOrJudgmentIndicator\": \"false\"                  }                },                \"EMPLOYERS\": {                  \"EMPLOYER\": {                    \"EMPLOYMENT\": { \"EmploymentBorrowerSelfEmployedIndicator\": \"false\" }                  }                },                \"GOVERNMENT_MONITORING\": {                  \"GOVERNMENT_MONITORING_DETAIL\": {                    \"EXTENSION\": {                      \"ULDD:OTHER\": {                        \"ULDD:GOVERNMENT_MONITORING_DETAIL_EXTENSION\": {                          \"ULDD:HMDAEthnicityCollectedBasedOnVisualObservationOrSurnameIndicator\": \"false\",                          \"ULDD:HMDAEthnicityRefusalIndicator\": \"false\",                          \"ULDD:HMDAGenderCollectedBasedOnVisualObservationOrNameIndicator\": \"false\",                          \"ULDD:HMDAGenderRefusalIndicator\": \"false\",                          \"ULDD:HMDAGenderType\": \"Male\",                          \"ULDD:HMDARaceCollectedBasedOnVisualObservationOrSurnameIndicator\": \"false\",                          \"ULDD:HMDARaceRefusalIndicator\": \"false\"                        }                      }                    }                  },                  \"HMDA_RACES\": {                    \"HMDA_RACE\": {                      \"EXTENSION\": {                        \"ULDD:OTHER\": {                          \"ULDD:HMDA_RACE_EXTENSION\": {                            \"ULDD:HMDA_RACE_DETAIL\": { \"ULDD:HMDARaceType\": \"White\" }                          }                        }                      }                    }                  },                  \"EXTENSION\": {                    \"ULDD:OTHER\": {                      \"ULDD:GOVERNMENT_MONITORING_EXTENSION\": {                        \"ULDD:HMDA_ETHNICITIES\": {                          \"ULDD:HMDA_ETHNICITY\": { \"ULDD:HMDAEthnicityType\": \"HispanicOrLatino\" }                        },                        \"ULDD:HMDA_ETHNICITY_ORIGINS\": {                          \"ULDD:HMDA_ETHNICITY_ORIGIN\": {                            \"ULDD:HMDAEthnicityOriginType\": \"Other\",                            \"ULDD:HMDAEthnicityOriginTypeOtherDescription\": \"Brazilian\"                          }                        }                      }                    }                  }                }              },              \"ROLE_DETAIL\": { \"PartyRoleType\": \"Borrower\" }            }          },          \"TAXPAYER_IDENTIFIERS\": {            \"TAXPAYER_IDENTIFIER\": {              \"TaxpayerIdentifierType\": \"SocialSecurityNumber\",              \"TaxpayerIdentifierValue\": \"888123456\"            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"99999398668\" }            },            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"DocumentCustodian\" }            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"777777\" }            },            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"LoanOriginationCompany\" }            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"555555\" }            },            \"ROLE\": {              \"LOAN_ORIGINATOR\": { \"LoanOriginatorType\": \"Lender\" },              \"ROLE_DETAIL\": { \"PartyRoleType\": \"LoanOriginator\" }            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"999999999\" }            },            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"LoanSeller\" }            }          }        },        {          \"LEGAL_ENTITY\": {            \"LEGAL_ENTITY_DETAIL\": { \"FullName\": \"XYZ Bank, NA\" }          },          \"ROLES\": {            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"NotePayTo\" }            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"999999999\" }            },            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"Payee\" }            }          }        },        {          \"ROLES\": {            \"PARTY_ROLE_IDENTIFIERS\": {              \"PARTY_ROLE_IDENTIFIER\": { \"PartyRoleIdentifier\": \"999999999\" }            },            \"ROLE\": {              \"ROLE_DETAIL\": { \"PartyRoleType\": \"Servicer\" }            }          }        }      ]    }  }}","payloadType":"json","repeat":"","crontab":"","once":false,"x":112,"y":87,"wires":[["2da6021d.2393fe"]]},{"id":"2da6021d.2393fe","type":"json","z":"76b0172e.e6da98","name":"","pretty":false,"x":290,"y":85,"wires":[["918dd613.eee088"]]},{"id":"918dd613.eee088","type":"debug","z":"76b0172e.e6da98","name":"","active":true,"console":"false","complete":"false","x":463,"y":81,"wires":[]},{"id":"3479096d.fc57c6","type":"delay","z":"3be3501.c18f8b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":120,"wires":[["3ea094cd.960c0c"]]},{"id":"67b6a6de.326e38","type":"delay","z":"3be3501.c18f8b","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":180,"wires":[["3ea094cd.960c0c"]]},{"id":"396e4022.18bbc","type":"delay","z":"3be3501.c18f8b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":240,"wires":[["3ea094cd.960c0c"]]},{"id":"425a5e5.48b57a","type":"delay","z":"3be3501.c18f8b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":300,"wires":[["3ea094cd.960c0c"]]},{"id":"9fcd250f.9a15e8","type":"delay","z":"3be3501.c18f8b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":380,"wires":[["3ea094cd.960c0c"]]},{"id":"203440b2.1e3fa","type":"debug","z":"3be3501.c18f8b","name":"debug1","active":true,"console":"false","complete":"payload","x":487,"y":65,"wires":[]},{"id":"3f7de46d.ec41cc","type":"file","z":"3be3501.c18f8b","name":"aggregate json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/aggreg.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1023,"y":258,"wires":[]},{"id":"3ec0bb65.e63a74","type":"http in","z":"f4960ba0.f905e8","name":"","url":"/realestate","method":"get","upload":false,"swaggerDoc":"","x":101,"y":62,"wires":[["2fe21798.1107c8","30b3b2a9.0dd9ae","2ccc72f7.7f28ee"]]},{"id":"c3b253a2.3ac94","type":"http response","z":"f4960ba0.f905e8","name":"","statusCode":"","headers":{},"x":628,"y":389,"wires":[]},{"id":"120c41fc.7d4dbe","type":"ui_ui_control","z":"1ac96f59.029e61","name":"","x":97,"y":67,"wires":[[]]},{"id":"4a720af3.5467f4","type":"ui_template","z":"1ac96f59.029e61","group":"7787d697.6878b8","name":"","order":0,"width":0,"height":0,"format":"<script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    Click me to send a hello world\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":95,"y":117,"wires":[[]]},{"id":"79140882.9bbb98","type":"ui_template","z":"1ac96f59.029e61","group":"7787d697.6878b8","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>The number is</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'even' : 'odd'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160,"y":180,"wires":[[]]},{"id":"6813ba15.005684","type":"inject","z":"1ac96f59.029e61","name":"","topic":"","payload":"{\"0\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":89,"y":250,"wires":[["79140882.9bbb98","4a720af3.5467f4"]]}]