flows_saratoga_fin.json
[{"id":"3ae34424.4960dc","type":"tab","label":"Flow  - Main REST","disabled":false,"info":""},{"id":"f66117e.70d51e8","type":"tab","label":"Flow - Mortgage Calculator","disabled":false,"info":""},{"id":"df97b1ab.88891","type":"tab","label":"Flow Mortgage Aggregator","disabled":false,"info":""},{"id":"5a0bbfa.b07324","type":"tab","label":"Flow - Get Real Estate Info","disabled":false,"info":""},{"id":"16b2e44b.2c624c","type":"tab","label":"Flow - Get Payroll Data from ADP","disabled":false,"info":""},{"id":"31a21457.8ff67c","type":"tab","label":"Flow - Credit Bureau Report","disabled":false,"info":""},{"id":"99ec9216.f5cb9","type":"tab","label":"Flow UI ADP Data","disabled":false,"info":""},{"id":"4b579884.d5ba88","type":"tab","label":"Flow 1"},{"id":"4aab02cc.1d78ec","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"1ed725af.1fd57a","type":"mqtt-broker","z":"","broker":"","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b78635af.95d218","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}}},"site":{"name":"Snoborder Mortgage","hideToolbar":"false","allowSwipe":"false","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5867f94.bc48208","type":"ui_tab","z":"","name":"Get ADP Employee Data","icon":"dashboard","order":1},{"id":"5d84d13a.98f18","type":"ui_group","z":"","name":"Mortgage Application","tab":"","order":null,"disp":true,"width":"6"},{"id":"7ad316f1.a8b898","type":"ui_group","z":"","name":"Employee","tab":"5867f94.bc48208","order":1,"disp":true,"width":"6"},{"id":"a0c376d6.2acb58","type":"ui_group","z":"","name":"Results","tab":"5867f94.bc48208","order":2,"disp":false,"width":"16"},{"id":"c7360ef1.b0c6c","type":"ui_tab","z":"","name":"Three Bureau Consolidated Report","icon":"dashboard","order":2},{"id":"3f9cd5f5.eb3bba","type":"ui_group","z":"","name":"Bureau Report","tab":"c7360ef1.b0c6c","order":1,"disp":true,"width":"5"},{"id":"fa46b241.8535d","type":"ui_group","z":"","name":"Results","tab":"c7360ef1.b0c6c","order":2,"disp":true,"width":"16"},{"id":"6d660bfb.e42374","type":"ui_group","z":"","name":"Stat","tab":"","order":2,"disp":false,"width":"6"},{"id":"4689b8cf.3098f8","type":"ui_group","z":"","name":"Ora","tab":"","disp":false,"width":"6"},{"id":"db513a02.c8cb08","type":"ui_group","z":"","name":"Stat1","tab":"","order":1,"disp":false,"width":"6"},{"id":"c054244b.a2f9d8","type":"ui_group","z":"","name":"ON OFF scheduler","tab":"","disp":false,"width":"6"},{"id":"dc77a612.258888","type":"ui_group","z":"","name":"Stat2","tab":"","disp":false,"width":"6"},{"id":"4197abbe.f05744","type":"ui_tab","z":"","name":"Real Estate Data","icon":"dashboard","order":4},{"id":"79f97b90.9a9814","type":"ui_group","z":"","name":"Address","tab":"4197abbe.f05744","order":1,"disp":true,"width":"6"},{"id":"6cb28d25.8e82c4","type":"ui_group","z":"","name":"Results","tab":"4197abbe.f05744","order":2,"disp":true,"width":"16"},{"id":"922f6bfa.bcddb8","type":"ui_tab","z":"","name":"Aggregate data for FNM","icon":"dashboard","order":4},{"id":"7b69a576.f5f69c","type":"ui_group","z":"","name":"Aggregate data","tab":"922f6bfa.bcddb8","order":1,"disp":true,"width":"6"},{"id":"d773eae1.96b378","type":"ui_group","z":"","name":"Results","tab":"922f6bfa.bcddb8","order":2,"disp":true,"width":"24"},{"id":"fd7e32.640731d","type":"http in","z":"3ae34424.4960dc","name":"[vr] get /hello-get","url":"/hello-get","method":"get","upload":false,"swaggerDoc":"","x":123,"y":143,"wires":[["ceda5e0c.e6d03"]]},{"id":"ceda5e0c.e6d03","type":"template","z":"3ae34424.4960dc","name":"[vt] page-get","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":313,"y":143,"wires":[["9cd8e2a5.ac9c"]]},{"id":"9cd8e2a5.ac9c","type":"change","z":"3ae34424.4960dc","name":"[vt] Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":142,"wires":[["a3e7dfea.04f66","45e39d28.b0e3c4"]]},{"id":"a3e7dfea.04f66","type":"http response","z":"3ae34424.4960dc","name":"[vr] Output","statusCode":"","headers":{},"x":712,"y":135,"wires":[]},{"id":"45e39d28.b0e3c4","type":"debug","z":"3ae34424.4960dc","name":"[vr] debug","active":true,"console":"false","complete":"payload","x":673,"y":277,"wires":[]},{"id":"90443e4e.0f6dc","type":"comment","z":"3ae34424.4960dc","name":"JSON Get","info":"","x":105,"y":89,"wires":[]},{"id":"8edf9924.2fff08","type":"http in","z":"3ae34424.4960dc","name":"[vr] post /hello-post","url":"/hello-post","method":"post","upload":false,"swaggerDoc":"","x":136,"y":284,"wires":[["e6a4e58d.00bf58"]]},{"id":"e6a4e58d.00bf58","type":"template","z":"3ae34424.4960dc","name":"[vt] Post-Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n        <h2>You live in {{ payload.city }}!</h2>\n    </body>\n</html>","output":"str","x":342,"y":284,"wires":[["a3e7dfea.04f66","45e39d28.b0e3c4"]]},{"id":"2332447c.5ed69c","type":"comment","z":"3ae34424.4960dc","name":"JSON Post","info":"","x":103,"y":233,"wires":[]},{"id":"549c5a4.88e11a4","type":"http in","z":"3ae34424.4960dc","name":"[vr] delete /hello-delete","url":"/hello-delete","method":"delete","upload":false,"swaggerDoc":"","x":146,"y":396,"wires":[["6245a4bf.81323c"]]},{"id":"6245a4bf.81323c","type":"template","z":"3ae34424.4960dc","name":"[vt] delete-page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.name}} !","output":"str","x":365,"y":390,"wires":[["a3e7dfea.04f66","45e39d28.b0e3c4"]]},{"id":"fef17580.d7fd38","type":"comment","z":"3ae34424.4960dc","name":"JSON Delete","info":"","x":113,"y":347,"wires":[]},{"id":"3aab035d.df8dfc","type":"inject","z":"f66117e.70d51e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["282acc50.3ea184","46b9ec0d.90d3f4","51521a9.fd614e4","b7a1e6c6.e58168"]]},{"id":"282acc50.3ea184","type":"function","z":"f66117e.70d51e8","name":"mortgage calculator","func":"var mortcalc = global.get('snomcalc');\nvar result = mortcalc.calculateMortgage({\n      \"initialDeposit\": 20000,\n      \"monthlyIncome\": 2000,\n      \"interest\": 3,\n      \"term\": 20,\n      \"monthlyExpenses\": 800\n    })\nmsg.payload = result;    \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["b2d4db1a.9edb38"]]},{"id":"b2d4db1a.9edb38","type":"debug","z":"f66117e.70d51e8","name":"debug 1","active":true,"console":"false","complete":"payload","x":660,"y":40,"wires":[]},{"id":"46b9ec0d.90d3f4","type":"function","z":"f66117e.70d51e8","name":"mortgage amortization","func":"var mortcalc = global.get('snomcalc');\n// capital, pay, periods, interest\n// \n// capital: Total value of the mortgage we want to obtain the amortization table for.\n// pay: Calculated monthly pay obtained from mortgageCalculator.getMaxMortgage\n// periods: Number of payments for the amortization.\n// interest : Annual interest not expressed in %\n\nvar result = mortcalc.amortization(5000, 423.47, 12, 0.03);\nmsg.payload = result; \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["b85a3b38.40d7a8"]]},{"id":"b85a3b38.40d7a8","type":"debug","z":"f66117e.70d51e8","name":"debug 2","active":true,"console":"false","complete":"payload","x":660,"y":100,"wires":[]},{"id":"51521a9.fd614e4","type":"function","z":"f66117e.70d51e8","name":"house price reverse","func":"var hpr = global.get('snohcalc');\nvar price = hpr.housePriceCalculate({\n  /* Monthly payment amount. */\n  monthlyPayment: 2400,\n \n  /* Down payment and closing costs. */\n  downPayment: 20000,\n \n  /* Annual mortgage percentage rate. */\n  APR: 4.7,\n \n  /* Term of mortgage loan. */\n  termYears: 30,\n \n  /* Closing costs as % of home purchase price. */\n  closingCostsPercent: 3,\n \n  /* Estimated annual mortgage and\n   * property taxes as % of home sale's price.\n   */\n  annualEscrowPercent: 1.10\n});\nnode.log(\"House value = \"+price);\nmsg.payload = price;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["f9455238.823bb"]]},{"id":"f9455238.823bb","type":"debug","z":"f66117e.70d51e8","name":"debug 3","active":true,"console":"false","complete":"payload","x":680,"y":180,"wires":[]},{"id":"b7a1e6c6.e58168","type":"function","z":"f66117e.70d51e8","name":"arm calculator","func":"const mortgageCalculate = global.get('snomcalc1');\nconst result = mortgageCalculate({\n  loanAmount: 100000,\n  APR: 4.7,\n  termYears: 30\n});\nnode.log('Mortgage = '+result);\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["f9455238.823bb"]]},{"id":"bed9be34.7a001","type":"inject","z":"f66117e.70d51e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["cd7440d6.dc635"]]},{"id":"cd7440d6.dc635","type":"function","z":"f66117e.70d51e8","name":"Json aggregator on key","func":"var aggregate = global.get('snoaggonkey');\n \nvar lines = [\n    '{\"name\":\"buffers/buffer-creation\",\"config\":{\"type\":\"fast\",\"len\":10,\"n\":1024},\"time\":\"5400.10125\"}'\n  , '{\"name\":\"buffers/buffer-creation\",\"config\":{\"type\":\"fast\",\"len\":1024,\"n\":1024},\"time\":\"2097.43265\"}'\n  , '{\"name\":\"buffers/buffer-deletion\",\"config\":{\"type\":\"fast\",\"len\":10,\"n\":1024},\"time\":\"5400.10125\"}'\n  , '{\"name\":\"buffers/buffer-deletion\",\"config\":{\"type\":\"fast\",\"len\":1024,\"n\":1024},\"time\":\"2097.43265\"}'\n  , '{\"config\":{\"type\":\"fast\",\"len\":10,\"n\":1024},\"time\":\"5400.10125\"}'\n  , '{\"config\":{\"type\":\"fast\",\"len\":1024,\"n\":1024},\"time\":\"2097.43265\"}'\n]\n \nvar res = aggregate(lines, 'name');\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":331,"wires":[["c7ced7d7.099588"]]},{"id":"c7ced7d7.099588","type":"debug","z":"f66117e.70d51e8","name":"debug 4","active":true,"console":"false","complete":"payload","x":573,"y":330,"wires":[]},{"id":"d58ea53d.60a1e8","type":"inject","z":"f66117e.70d51e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":400,"wires":[["5009daba.7c2bd4","fb332433.603258","11a81917.004ad7"]]},{"id":"5009daba.7c2bd4","type":"function","z":"f66117e.70d51e8","name":"JSON to XML Converter","func":"var xml = global.get('snoxml');\nvar example1 = [ { toys: [ { toy: 'Transformers' } , { toy: 'GI Joe' }, { toy: 'He-man' } ] } ];\nvar result = xml(example1);\nnode.log(result);\n/*\nvar elem = xml.element({ _attr: { decade: '80s', locale: 'US'} });\nvar stream = xml({ toys: elem }, { stream: true });\nstream.on('data', function (chunk) {node.log(\"data:\", chunk)});\nelem.push({ toy: 'Transformers' });\nelem.push({ toy: 'GI Joe' });\nelem.push({ toy: [{name:'He-man'}] });\nelem.close();\nmsg.payload = xml;\n*/\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":402,"wires":[["15223c5a.30f914","8042211d.b6058"]]},{"id":"3a6a8a36.658996","type":"debug","z":"f66117e.70d51e8","name":"debug 5 (json)","active":true,"console":"false","complete":"payload","x":780,"y":360,"wires":[]},{"id":"15223c5a.30f914","type":"xml","z":"f66117e.70d51e8","name":"XML to JSON","attr":"","chr":"","x":600,"y":420,"wires":[["3a6a8a36.658996"]]},{"id":"8042211d.b6058","type":"debug","z":"f66117e.70d51e8","name":"debug 6 (xml)","active":true,"console":"false","complete":"payload","x":593,"y":504,"wires":[]},{"id":"fb332433.603258","type":"function","z":"f66117e.70d51e8","name":"XML example 2","func":"var xml = global.get('snoxml');\nvar example1 = [ { toys: [ { _attr: { decade: '80s', locale: 'US'} }, { toy: 'Transformers' } , { toy: 'GI Joe' }, { toy: 'He-man' } ] } ];\nvar result = xml(example1);\nnode.log(result);\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":528,"wires":[["8042211d.b6058"]]},{"id":"11a81917.004ad7","type":"function","z":"f66117e.70d51e8","name":"Complex XML","func":"// [ { toys: [ { _attr: { decade: '80s', locale: 'US'} }, { toy: 'Transformers' } , { toy: [ { _attr: { knowing: 'half the battle' } }, 'GI Joe'] }, { toy: [ { name: 'He-man' }, { description: { _cdata: '<strong>Master of the Universe!</strong>'} } ] } ] } ]\nvar xml = global.get('snoxml');\nvar example1 = [ { toys: [ { _attr: { decade: '80s', locale: 'US'} }, { toy: 'Transformers' } , { toy: [ { _attr: { knowing: 'half the battle' } }, 'GI Joe'] }, { toy: [ { name: 'He-man' }, { description: { _cdata: '<strong>Master of the Universe!</strong>'} } ] } ] } ];\nvar result = xml(example1);\nnode.log(result);\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":604,"wires":[["8b1664aa.8446f8"]]},{"id":"8b1664aa.8446f8","type":"debug","z":"f66117e.70d51e8","name":"debug 7","active":true,"console":"false","complete":"payload","x":580,"y":600,"wires":[]},{"id":"85d7a952.361df8","type":"inject","z":"f66117e.70d51e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94,"y":728,"wires":[["4dbcc882.8ab718"]]},{"id":"4dbcc882.8ab718","type":"file in","z":"f66117e.70d51e8","name":"about json","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json","format":"utf8","chunk":false,"sendError":false,"x":270,"y":780,"wires":[["dc0695d0.80da58"]]},{"id":"5cc83fe8.a125","type":"function","z":"f66117e.70d51e8","name":"Json 2 XML","func":"var convert = global.get('snoxmljs');\nnode.log(msg.payload);\nvar json = msg.payload;\nvar options = {ignoreComment: true, spaces: 4};\nvar result = convert.json2xml(json, options);\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[["1d8f4a2a.dd2986"]]},{"id":"1d8f4a2a.dd2986","type":"debug","z":"f66117e.70d51e8","name":"debug 8","active":true,"console":"false","complete":"payload","x":730,"y":716,"wires":[]},{"id":"dc0695d0.80da58","type":"json","z":"f66117e.70d51e8","name":"","pretty":false,"x":426,"y":722,"wires":[["5cc83fe8.a125"]]},{"id":"e57fb723.c5ca88","type":"comment","z":"f66117e.70d51e8","name":"not working yet","info":"","x":93,"y":681,"wires":[]},{"id":"d623a9ff.0a80a8","type":"inject","z":"df97b1ab.88891","name":"json inject","topic":"","payload":"{\"about_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\"deal_set_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\"parties_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\"collaterals_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\"parties_deal_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\"loans_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":80,"wires":[["769dc533.d9c7ac"]]},{"id":"a2d1db35.b63398","type":"debug","z":"df97b1ab.88891","name":"debug 1","active":true,"console":"false","complete":"payload","x":640,"y":80,"wires":[]},{"id":"769dc533.d9c7ac","type":"function","z":"df97b1ab.88891","name":"JSON Mortgage Aggregator","func":"var agg = global.get('snoulddagg');\nvar params = msg.payload;\nvar result = agg(params);\nmsg.payload = result;\nnode.log(result);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["a2d1db35.b63398","1949afa7.d1cf1"]]},{"id":"cf71b050.19037","type":"http in","z":"df97b1ab.88891","name":"","url":"/UL","method":"get","upload":false,"swaggerDoc":"","x":89,"y":171,"wires":[["3d69e0d7.61038"]]},{"id":"1949afa7.d1cf1","type":"http response","z":"df97b1ab.88891","name":"","statusCode":"","headers":{},"x":610,"y":140,"wires":[]},{"id":"a202f7ee.08a4a8","type":"inject","z":"df97b1ab.88891","name":"","topic":"","payload":"{\"about_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\"deal_set_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\"parties_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\"collaterals_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\"parties_deal_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\"loans_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["fab124ce.03d598"]]},{"id":"fab124ce.03d598","type":"function","z":"df97b1ab.88891","name":"JSON to XML Aggregated Data","func":"var agg = global.get('snoulddagg');\nvar easyxml = global.get('snoeasyxml');\n\nvar serializer = new easyxml({\n    singularize: true,\n    rootElement: 'response',\n    dateFormat: 'ISO',\n    manifest: true\n});\n\nvar params = msg.payload;\nvar json_result = agg(params);\n// var xml_result = xml(JSON.stringify(json_result));\nvar xml_result = serializer.render(json_result);\nnode.log(xml_result);\n\nmsg.payload = xml_result;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["bb7929ee.fc28d8","197ef0bf.e4432f"]]},{"id":"197ef0bf.e4432f","type":"debug","z":"df97b1ab.88891","name":"debug 2","active":true,"console":"false","complete":"payload","x":640,"y":300,"wires":[]},{"id":"a864c94b.869748","type":"http in","z":"df97b1ab.88891","name":"","url":"/ULX","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["edbfa556.dd9de8"]]},{"id":"bb7929ee.fc28d8","type":"http response","z":"df97b1ab.88891","name":"","statusCode":"","headers":{"content-type":"text/plain"},"x":630,"y":360,"wires":[]},{"id":"b6ab2e2.9a86bd","type":"comment","z":"df97b1ab.88891","name":"Not working yet","info":"","x":131,"y":280,"wires":[]},{"id":"3d69e0d7.61038","type":"template","z":"df97b1ab.88891","name":"File Parameters","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"about_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\n    \"deal_set_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\n    \"parties_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\n    \"collaterals_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\n    \"parties_deal_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\n    \"loans_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"\n}","output":"json","x":280,"y":180,"wires":[["769dc533.d9c7ac"]]},{"id":"edbfa556.dd9de8","type":"template","z":"df97b1ab.88891","name":"File Parameters","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"about_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\n    \"deal_set_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\n    \"parties_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\n    \"collaterals_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\n    \"parties_deal_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\n    \"loans_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"\n}","output":"json","x":280,"y":320,"wires":[["fab124ce.03d598"]]},{"id":"aceba351.a1431","type":"inject","z":"5a0bbfa.b07324","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["8635a76.cc64858"]]},{"id":"8635a76.cc64858","type":"http request","z":"5a0bbfa.b07324","name":"","method":"GET","ret":"txt","url":"http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1fybbx6klqj_4234r&address=63+lake+shore+drive&citystatezip=Sparta+NJ","tls":"","x":310,"y":100,"wires":[["db953989.1f9b18"]]},{"id":"db953989.1f9b18","type":"function","z":"5a0bbfa.b07324","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["bf315897.c47e98","5d213bbb.070634"]]},{"id":"8071d6bd.264268","type":"debug","z":"5a0bbfa.b07324","name":"debug 1","active":true,"console":"false","complete":"payload","x":580,"y":100,"wires":[]},{"id":"bf315897.c47e98","type":"xml","z":"5a0bbfa.b07324","name":"","attr":"","chr":"","x":470,"y":200,"wires":[["8071d6bd.264268","c048773e.06d138"]]},{"id":"5d213bbb.070634","type":"debug","z":"5a0bbfa.b07324","name":"debug 2","active":true,"console":"false","complete":"payload","x":497,"y":297,"wires":[]},{"id":"59b8437d.14a8dc","type":"http in","z":"5a0bbfa.b07324","name":"","url":"/zillow","method":"get","upload":false,"swaggerDoc":"","x":108,"y":166,"wires":[["8635a76.cc64858"]]},{"id":"c048773e.06d138","type":"http response","z":"5a0bbfa.b07324","name":"","statusCode":"","headers":{},"x":614,"y":238,"wires":[]},{"id":"7ca2d64.4d65028","type":"comment","z":"5a0bbfa.b07324","name":"zillow","info":"","x":94,"y":48,"wires":[]},{"id":"5d3b3309.923c6c","type":"http in","z":"5a0bbfa.b07324","name":"","url":"/zillow1","method":"get","upload":false,"swaggerDoc":"","x":116,"y":398,"wires":[["7e32544e.0c621c"]]},{"id":"501b9c2b.451d24","type":"http response","z":"5a0bbfa.b07324","name":"","statusCode":"","headers":{},"x":608,"y":386,"wires":[]},{"id":"7e32544e.0c621c","type":"http request","z":"5a0bbfa.b07324","name":"","method":"GET","ret":"txt","url":"http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1fybbx6klqj_4234r&address=63+lake+shore+drive&citystatezip=Sparta+NJ","tls":"","x":311,"y":396,"wires":[["501b9c2b.451d24"]]},{"id":"771aba76.913644","type":"debug","z":"31a21457.8ff67c","name":"","active":false,"console":"true","complete":"true","x":610,"y":120,"wires":[]},{"id":"407772e2.03b35c","type":"function","z":"31a21457.8ff67c","name":"process","func":"msg.payload = eval( context.global.coffeescript.compile( msg.payload ) );\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":120,"wires":[["771aba76.913644"]]},{"id":"5f3e1fd9.85039","type":"inject","z":"31a21457.8ff67c","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":120,"wires":[["c382f13d.bba52"]]},{"id":"c382f13d.bba52","type":"template","z":"31a21457.8ff67c","name":"coffeescript","field":"payload","fieldType":"msg","syntax":"mustache","template":"foo =\n  bar: 1\n\nreturn JSON.stringify foo\n","x":297,"y":120,"wires":[["407772e2.03b35c"]]},{"id":"854740ba.38a25","type":"comment","z":"31a21457.8ff67c","name":"how it works","info":"\nTo make this work put this in your settings.js-file:\n\n    functionGlobalContext: { \n      coffeescript:require('coffee-script'),\n    }\n","x":387,"y":62,"wires":[]},{"id":"133d8143.7a494f","type":"inject","z":"16b2e44b.2c624c","name":"","topic":"G4O73G9Z62SL2NFM","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":80,"wires":[["f4fe75d.d270488"]]},{"id":"f4fe75d.d270488","type":"http request","z":"16b2e44b.2c624c","name":"","method":"GET","ret":"txt","url":"https://test-api.adp.com/payroll/v1/workers/{{{topic}}}/pay-statements?numberoflastpaydates=26","tls":"","x":370,"y":160,"wires":[["79333bf4.b28854"]]},{"id":"e9022c36.d3221","type":"http response","z":"16b2e44b.2c624c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":650,"y":80,"wires":[]},{"id":"a4e8e23a.b9d5d","type":"debug","z":"16b2e44b.2c624c","name":"adp debug","active":true,"console":"false","complete":"payload","x":630,"y":140,"wires":[]},{"id":"d8330e27.b9994","type":"comment","z":"16b2e44b.2c624c","name":"Get five pay amounts of worker from ADP","info":"","x":178,"y":35,"wires":[]},{"id":"bba266d8.5ac4d8","type":"http in","z":"16b2e44b.2c624c","name":"","url":"/adpfive","method":"post","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["b9ce2561.c3d3a8"]]},{"id":"b9ce2561.c3d3a8","type":"template","z":"16b2e44b.2c624c","name":"Send the worker id","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"G4O73G9Z62SL2NFM","output":"str","x":210,"y":240,"wires":[["f4fe75d.d270488","a9eeb1d8.e13a5"]]},{"id":"a9eeb1d8.e13a5","type":"debug","z":"16b2e44b.2c624c","name":"employee ID debug","active":true,"console":"false","complete":"topic","x":310,"y":320,"wires":[]},{"id":"79333bf4.b28854","type":"function","z":"16b2e44b.2c624c","name":"Get five paychecks value","func":"var adp_response = JSON.parse(msg.payload);\nfunction traverse(o,func) {\n    for (var i in o) {\n        func.apply(this,[i,o[i]]);  \n        if (o[i] !== null && typeof(o[i])==\"object\") {\n            //going one step down in the object tree!!\n            traverse(o[i],func);\n        }\n    }\n}\n\nfunction process1(key,value) {\n\tif (key == \"netPayAmount\") {\n        console.log(key+\", \"+value);\n        netPayFlag = true;\n\t}\n\tif ((key == \"amountValue\") && (netPayFlag)) {\n        console.log(key+\", \"+value);\n        netPayAve += Number(value);\n        netPayFlag = false;\n    }\n}\n\n// program starts here\nvar netPayAve = 0;\nvar netPayFlag = false;\ntraverse(adp_response,process1);\nconsole.log('Net Pay Accumulated = ' + netPayAve);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["e9022c36.d3221","a4e8e23a.b9d5d"]]},{"id":"33d8dcc9.db6544","type":"inject","z":"31a21457.8ff67c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["f831f860.8847a8"]]},{"id":"f831f860.8847a8","type":"file in","z":"31a21457.8ff67c","name":"Credit Bureau Report","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/tradeline1.json","format":"utf8","chunk":false,"sendError":false,"x":340,"y":260,"wires":[["cbc48ae3.8271d8"]]},{"id":"13480d3f.128123","type":"debug","z":"31a21457.8ff67c","name":"debug 1","active":true,"console":"false","complete":"payload","x":620,"y":360,"wires":[]},{"id":"cbc48ae3.8271d8","type":"json","z":"31a21457.8ff67c","name":"","pretty":false,"x":530,"y":260,"wires":[["13480d3f.128123"]]},{"id":"f776c16c.99688","type":"comment","z":"31a21457.8ff67c","name":"Three bureau consolidated report","info":"","x":350,"y":220,"wires":[]},{"id":"2af0568c.33a25a","type":"http request","z":"99ec9216.f5cb9","name":"","method":"GET","ret":"txt","url":"https://test-api.adp.com/payroll/v1/workers/{{payload.empid}}/pay-statements?numberoflastpaydates=26","tls":"","x":110,"y":160,"wires":[["a764b878.b1a1a8","d45a9eba.5d52e"]]},{"id":"a784b201.45e5a","type":"debug","z":"99ec9216.f5cb9","name":"adp debug","active":true,"console":"false","complete":"true","x":430,"y":140,"wires":[]},{"id":"ab1814ee.b02478","type":"comment","z":"99ec9216.f5cb9","name":"Get five pay amounts of worker from ADP","info":"","x":200,"y":40,"wires":[]},{"id":"a764b878.b1a1a8","type":"function","z":"99ec9216.f5cb9","name":"Get five paychecks value","func":"var adp_response = JSON.parse(msg.payload);\nfunction traverse(o,func) {\n    for (var i in o) {\n        func.apply(this,[i,o[i]]);  \n        if (o[i] !== null && typeof(o[i]) == \"object\") {\n            //going one step down in the object tree!!\n            traverse(o[i],func);\n        }\n    }\n}\n\nfunction process1(key,value) {\n\tif (key == \"netPayAmount\") {\n        console.log(key+\", \"+value);\n        netPayFlag = true;\n\t}\n\tif ((key == \"amountValue\") && (netPayFlag)) {\n        console.log(key+\", \"+value);\n        netPayAve += Number(value);\n        netPayFlag = false;\n    }\n}\n\n// program starts here\nvar netPayAve = 0;\nvar netPayFlag = false;\ntraverse(adp_response,process1);\nconsole.log('Net Pay Accumulated = ' + netPayAve);\n// netPayAve = 0 ? NaN : false;\nmsg.enabled = false;\nmsg.topic = parseInt(netPayAve);\n// value = parseInt(netPayAve);\nmsg.payload = {};\nmsg.value = parseInt(netPayAve);\nnode.send([null,msg,null]); \n// return {value}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["a784b201.45e5a","59018e03.df7e5"]]},{"id":"d45a9eba.5d52e","type":"ui_text","z":"99ec9216.f5cb9","group":"a0c376d6.2acb58","order":1,"width":"16","height":"12","name":"ADP Results","label":"","format":"{{msg.payload}}","layout":"col-center","x":430,"y":100,"wires":[]},{"id":"2147b04b.1138","type":"file in","z":"99ec9216.f5cb9","name":"Credit Bureau Report","filename":"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/tradeline1.json","format":"utf8","chunk":false,"sendError":false,"x":160,"y":460,"wires":[["18490751.6c7809"]]},{"id":"9c8c51d6.cc538","type":"debug","z":"99ec9216.f5cb9","name":"debug 1","active":true,"console":"false","complete":"true","x":580,"y":460,"wires":[]},{"id":"18490751.6c7809","type":"json","z":"99ec9216.f5cb9","name":"","pretty":false,"x":390,"y":460,"wires":[["9c8c51d6.cc538","350ffe5f.221682"]]},{"id":"96932e45.88d93","type":"comment","z":"99ec9216.f5cb9","name":"Three bureau consolidated report","info":"","x":150,"y":300,"wires":[]},{"id":"6950dbce.a14404","type":"ui_form","z":"99ec9216.f5cb9","name":"Credit Form","label":"","group":"3f9cd5f5.eb3bba","order":0,"width":0,"height":0,"options":[{"label":"Bureau Report","value":"breport","type":"switch","required":true}],"formValue":{"breport":false},"payload":"","topic":"","x":90,"y":340,"wires":[["2147b04b.1138"]]},{"id":"350ffe5f.221682","type":"ui_text","z":"99ec9216.f5cb9","group":"fa46b241.8535d","order":0,"width":"16","height":"16","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":420,"wires":[]},{"id":"128216e3.8fcb39","type":"ui_gauge","z":"99ec9216.f5cb9","name":"","group":"3f9cd5f5.eb3bba","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"840","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":380,"wires":[]},{"id":"5fc1aafa.7f7254","type":"function","z":"99ec9216.f5cb9","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":405,"wires":[["128216e3.8fcb39"]]},{"id":"59018e03.df7e5","type":"ui_gauge","z":"99ec9216.f5cb9","name":"","group":"7ad316f1.a8b898","order":5,"width":0,"height":0,"gtype":"compass","title":"Average Salary","label":"USD","format":"{{msg.value}}","min":"600","max":"20000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":200,"wires":[]},{"id":"9c4b5e86.51d9","type":"http request","z":"99ec9216.f5cb9","name":"","method":"GET","ret":"txt","url":"http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1fybbx6klqj_4234r&address={{payload.address}}&citystatezip={{payload.citystatezip}}","tls":"","x":310,"y":560,"wires":[["1867b98e.cf8806"]]},{"id":"81c609d.608edf8","type":"ui_form","z":"99ec9216.f5cb9","name":"Zillow Form","label":"","group":"79f97b90.9a9814","order":0,"width":0,"height":0,"options":[{"label":"Address","value":"address","type":"text","required":true},{"label":"City State or Zip","value":"citystatezip","type":"text","required":true}],"formValue":{"address":"","citystatezip":""},"payload":"","topic":"","x":110,"y":560,"wires":[["9c4b5e86.51d9"]]},{"id":"f8c3ed1f.78f31","type":"ui_text","z":"99ec9216.f5cb9","group":"6cb28d25.8e82c4","order":0,"width":"16","height":"16","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":600,"wires":[]},{"id":"bef76d73.b8aea","type":"comment","z":"99ec9216.f5cb9","name":"Real Estate Data","info":"","x":119,"y":518,"wires":[]},{"id":"ae0a62b6.a32c1","type":"debug","z":"99ec9216.f5cb9","name":"Zillow Debug","active":true,"console":"false","complete":"true","x":530,"y":720,"wires":[]},{"id":"1867b98e.cf8806","type":"xml","z":"99ec9216.f5cb9","name":"","attr":"","chr":"","x":495,"y":562,"wires":[["f8c3ed1f.78f31","31b14973.66bd46"]]},{"id":"840f11fd.1a056","type":"ui_gauge","z":"99ec9216.f5cb9","name":"","group":"79f97b90.9a9814","order":0,"width":0,"height":0,"gtype":"compass","title":"Gauge","label":"USD","format":"{{value}}","min":"30000","max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":552,"y":656,"wires":[]},{"id":"31b14973.66bd46","type":"function","z":"99ec9216.f5cb9","name":"zill function","func":"// program starts here\nvar zillow_response = JSON.parse(msg.payload);\nvar estimate = 0;\nvar lowestimate = 0;\nvar highestimate = 0;\nvar estFlag = false;\nvar estFlag1 = false;\nvar estFlag2 = false;\nvar estFlag3 = false;\nvar nomore = false;\ntraverse(zillow_response, process1);\nconsole.log('Estimate = ' + estimate);\nconsole.log('Low Estimate = ' + lowestimate);\nconsole.log('High Estimate = ' + highestimate);\n\nmsg.enabled = false;\nmsg.topic = parseInt(estimate);\nmsg.payload = {};\nmsg.value = parseInt(estimate);\nnode.send([null,msg,null]); \n\nfunction traverse(obj, func) {\n    for (var i in obj) {\n        func.apply(this, [i, obj[i]]);\n        if (obj[i] !== null && typeof (obj[i]) == \"object\") {\n            //going one step down in the object tree!!\n            traverse(obj[i], func);\n        }\n    }\n}\n\nfunction process1(key, value) {\n    if (key == \"zestimate\") {\n        console.log(\"duh - \"+key + \", \" + value);\n        estFlag = true;\n    }\n    if ((key == \"amount\") && (estFlag)) {\n        console.log(key + \", \" + value);\n        estFlag1 = true;\n    }\n    if ((key == \"low\") && (estFlag)) {\n        console.log(key + \", \" + value);\n        estFlag2 = true;\n    }\n    if ((key == \"high\") && (estFlag)) {\n        console.log(key + \", \" + value);\n        estFlag3 = true;\n    }\n    \n    if ((key == \"_\") && (estFlag1) && !(nomore)) {\n        console.log(key + \", \" + value);\n        estimate += Number(value);\n        estFlag1 = false;\n    }\n\n    if ((key == \"_\") && (estFlag2) && !(nomore)) {\n        console.log(key + \", \" + value);\n        lowestimate += Number(value);\n        estFlag2 = false;\n    }\n\n    if ((key == \"_\") && (estFlag3) && !(nomore)) {\n        console.log(key + \", \" + value);\n        highestimate += Number(value);\n        estFlag = false;\n        estFlag3 = false;\n        nomore = true;\n    }\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":675,"wires":[["840f11fd.1a056","ae0a62b6.a32c1"]]},{"id":"6a523a7f.fd9744","type":"comment","z":"99ec9216.f5cb9","name":"Aggregate Data","info":"","x":120,"y":800,"wires":[]},{"id":"77be323.48113cc","type":"inject","z":"99ec9216.f5cb9","name":"json inject","topic":"","payload":"{\"about_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\"deal_set_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\"parties_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\"collaterals_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\"parties_deal_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\"loans_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":840,"wires":[["efc9ca59.d1c958"]]},{"id":"465a0828.d4c8a8","type":"debug","z":"99ec9216.f5cb9","name":"debug 1","active":true,"console":"false","complete":"payload","x":600,"y":940,"wires":[]},{"id":"efc9ca59.d1c958","type":"function","z":"99ec9216.f5cb9","name":"JSON Mortgage Aggregator","func":"var agg = global.get('snoulddagg');\nvar params = msg.payload;\nvar result = agg(params);\nmsg.payload = result;\nnode.log(result);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":840,"wires":[["465a0828.d4c8a8","7837432a.a5166c"]]},{"id":"b64027b7.4f7958","type":"template","z":"99ec9216.f5cb9","name":"File Parameters","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"about_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\n    \"deal_set_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\n    \"parties_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\n    \"collaterals_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\n    \"parties_deal_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\n    \"loans_file\": \"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"\n}","output":"json","x":260,"y":960,"wires":[["efc9ca59.d1c958"]]},{"id":"d82a60ca.4023d","type":"ui_form","z":"99ec9216.f5cb9","name":"Agg Form","label":"","group":"7b69a576.f5f69c","order":0,"width":0,"height":0,"options":[{"label":"Aggregate","value":"aggregate","type":"switch","required":true}],"formValue":{"aggregate":false},"payload":"","topic":"{\"about_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/about.json\",\"deal_set_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/deal_set.json\",\"parties_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties.json\",\"collaterals_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/collaterals.json\",\"parties_deal_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/parties_deal.json\",\"loans_file\":\"/Applications/XAMPP/htdocs/mismo/fannie_mae_ULDD/loans.json\"}","x":87,"y":972,"wires":[["b64027b7.4f7958"]]},{"id":"7837432a.a5166c","type":"ui_text","z":"99ec9216.f5cb9","group":"d773eae1.96b378","order":0,"width":"24","height":"23","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":880,"wires":[]},{"id":"a71d21f3.ed7ea","type":"ui_button","z":"99ec9216.f5cb9","name":"","group":"7ad316f1.a8b898","order":4,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":250,"y":80,"wires":[["d45a9eba.5d52e"]]},{"id":"660ab09a.436a8","type":"ui_button","z":"99ec9216.f5cb9","name":"","group":"3f9cd5f5.eb3bba","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":267,"y":338,"wires":[["350ffe5f.221682"]]},{"id":"db0ed47b.a73ec8","type":"ui_button","z":"99ec9216.f5cb9","name":"","group":"79f97b90.9a9814","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":103,"y":610,"wires":[["f8c3ed1f.78f31"]]},{"id":"a5b897c6.18ec08","type":"ui_button","z":"99ec9216.f5cb9","name":"","group":"7b69a576.f5f69c","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":105,"y":891,"wires":[["7837432a.a5166c"]]},{"id":"2744d486.1b313c","type":"http in","z":"4b579884.d5ba88","name":"","url":"/saratoga","method":"get","upload":false,"swaggerDoc":"","x":109,"y":199,"wires":[["f869c9fa.e79d58"]]},{"id":"f869c9fa.e79d58","type":"template","z":"4b579884.d5ba88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"mdl/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Poppins\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody,h1,h2,h3,h4,h5 {font-family: \"Poppins\", sans-serif}\nbody {font-size: 16px;}\nimg {margin-bottom: -8px;}\n.mySlides {display: none;}\n</style>\n<body class=\"w3-content w3-black\" style=\"max-width:1500px;\">\n\n<!-- Header with Slideshow -->\n<header class=\"w3-display-container w3-center\">\n  <button class=\"w3-button w3-block w3-green w3-hide-large w3-hide-medium\" onclick=\"document.getElementById('download').style.display='block'\">Download <i class=\"fa fa-android\"></i> <i class=\"fa fa-apple\"></i> <i class=\"fa fa-windows\"></i></button>\n  <div class=\"mySlides w3-animate-opacity\">\n    <img class=\"w3-image\" src=\"mdl/app.jpg\" alt=\"Image 1\" style=\"min-width:500px\" width=\"1500\" height=\"1000\">\n    <div class=\"w3-display-left w3-padding w3-hide-small\" style=\"width:35%\">\n      <div class=\"w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large\">\n        <h1 class=\"w3-xlarge\">Take photos with our app</h1>\n        <hr class=\"w3-opacity\">\n        <p>Super simple installment: free of charge</p>\n        <p><button class=\"w3-button w3-block w3-green w3-round\" onclick=\"document.getElementById('download').style.display='block'\">Download <i class=\"fa fa-android\"></i> <i class=\"fa fa-apple\"></i> <i class=\"fa fa-windows\"></i></button></p>\n      </div>\n    </div>\n  </div>\n  <div class=\"mySlides w3-animate-opacity\">\n    <img class=\"w3-image\" src=\"mdl/app2.jpg\" alt=\"Image 2\" style=\"min-width:500px\" width=\"1500\" height=\"1000\">\n    <div class=\"w3-display-left w3-padding w3-hide-small\" style=\"width:35%\">\n      <div class=\"w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large\">\n        <h1 class=\"w3-xlarge w3-text-red\"><b>CLICK!</b> Fast and Easy</h1>\n        <hr class=\"w3-opacity\">\n        <p>Choose from thousands of features</p>\n        <p><button class=\"w3-button w3-block w3-red w3-round\" onclick=\"document.getElementById('download').style.display='block'\">Download <i class=\"fa fa-android\"></i> <i class=\"fa fa-apple\"></i> <i class=\"fa fa-windows\"></i></button></p>\n      </div>\n    </div>\n  </div>\n  <div class=\"mySlides w3-animate-opacity\">\n    <img class=\"w3-image\" src=\"mdl/app4.jpg\" alt=\"Image 3\" style=\"min-width:500px\" width=\"1500\" height=\"1000\">\n    <div class=\"w3-display-left w3-padding w3-hide-small\" style=\"width:35%\">\n      <div class=\"w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large\">\n        <h1 class=\"w3-xlarge\">Smart Design</h1>\n        <hr class=\"w3-opacity\">\n        <p>Customize photos as you go</p>\n        <p><button class=\"w3-button w3-block w3-indigo w3-round\" onclick=\"document.getElementById('download').style.display='block'\">Download <i class=\"fa fa-android\"></i> <i class=\"fa fa-apple\"></i> <i class=\"fa fa-windows\"></i></button></p>\n      </div>\n    </div>\n  </div>\n  <a class=\"w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey\" onclick=\"plusDivs(1)\">Take Tour <i class=\"fa fa-angle-right\"></i></a>\n  <a class=\"w3-button w3-block w3-black w3-hide-large w3-hide-medium\" onclick=\"plusDivs(1)\">Take Tour <i class=\"fa fa-angle-right\"></i></a>\n</header>\n\n<!-- The App Section -->\n<div class=\"w3-padding-64 w3-white\">\n  <div class=\"w3-row-padding\">\n    <div class=\"w3-col l8 m6\">\n      <h1 class=\"w3-jumbo\"><b>The App</b></h1>\n      <h1 class=\"w3-xxxlarge w3-text-green\"><b>Why buy it?</b></h1>\n      <p><span class=\"w3-xlarge\">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation\n        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>\n      <button class=\"w3-button w3-light-grey w3-padding-large w3-section w3-hide-small\" onclick=\"document.getElementById('download').style.display='block'\">\n        <i class=\"fa fa-download\"></i> Download Application\n      </button>\n      <p>Available for <i class=\"fa fa-android w3-xlarge w3-text-green\"></i> <i class=\"fa fa-apple w3-xlarge\"></i> <i class=\"fa fa-windows w3-xlarge w3-text-blue\"></i></p>\n    </div>\n    <div class=\"w3-col l4 m6\">\n      <img src=\"mdl/img_app.jpg\" class=\"w3-image w3-right w3-hide-small\" width=\"335\" height=\"471\">\n      <div class=\"w3-center w3-hide-large w3-hide-medium\">\n        <button class=\"w3-button w3-block w3-padding-large\" onclick=\"document.getElementById('download').style.display='block'\">\n          <i class=\"fa fa-download\"></i> Download Application\n        </button>\n        <img src=\"mdl/img_app.jpg\" class=\"w3-image w3-margin-top\" width=\"335\" height=\"471\">\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Modal -->\n<div id=\"download\" class=\"w3-modal w3-animate-opacity\">\n  <div class=\"w3-modal-content\" style=\"padding:32px\">\n    <div class=\"w3-container w3-white\">\n      <i onclick=\"document.getElementById('download').style.display='none'\" class=\"fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge\"></i>\n      <h2 class=\"w3-wide\">DOWNLOAD</h2>\n      <p>Download the app in AppStore, Google Play or Microsoft Store.</p>\n      <i class=\"fa fa-android w3-large\"></i> <i class=\"fa fa-apple w3-large\"></i> <i class=\"fa fa-windows w3-large\"></i>\n      <p><input class=\"w3-input w3-border\" type=\"text\" placeholder=\"Enter e-mail\"></p>\n      <button type=\"button\" class=\"w3-button w3-block w3-padding-large w3-red w3-margin-bottom\" onclick=\"document.getElementById('download').style.display='none'\">Fake Download</button>\n    </div>\n  </div>\n</div>\n\n<!-- Clarity Section -->\n<div class=\"w3-padding-64 w3-light-grey\">\n  <div class=\"w3-row-padding\">\n    <div class=\"w3-col l4 m6\">\n      <img class=\"w3-image w3-round-large w3-hide-small w3-grayscale\" src=\"mdl/app5.jpg\" alt=\"App\" width=\"335\" height=\"471\">\n    </div>\n    <div class=\"w3-col l8 m6\">\n      <h1 class=\"w3-jumbo\"><b>Clarity</b></h1>\n      <h1 class=\"w3-xxxlarge w3-text-red\"><b>Pixels, who?</b></h1>\n      <p><span class=\"w3-xlarge\">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip\n        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>\n    </div>\n  </div>\n</div>\n\n<!-- Features Section -->\n<div class=\"w3-container w3-padding-64 w3-dark-grey w3-center\">\n  <h1 class=\"w3-jumbo\"><b>Features</b></h1>\n  <p>This app is just so lorem ipsum.</p>\n\n  <div class=\"w3-row\" style=\"margin-top:64px\">\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-bolt w3-text-orange w3-jumbo\"></i>\n      <p>Fast</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-heart w3-text-red w3-jumbo\"></i>\n      <p>Loved</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-camera w3-text-yellow w3-jumbo\"></i>\n      <p>Clarity</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-battery-full w3-text-green w3-jumbo\"></i>\n      <p>Power</p>\n    </div>\n  </div>\n\n  <div class=\"w3-row\" style=\"margin-top:64px\">\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-diamond w3-text-white w3-jumbo\"></i>\n      <p>Sharp</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-cloud w3-text-blue w3-jumbo\"></i>\n      <p>Cloud</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-globe w3-text-amber w3-jumbo\"></i>\n      <p>Global</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-hdd-o w3-text-cyan w3-jumbo\"></i>\n      <p>Storage</p>\n    </div>\n  </div>\n  \n  <div class=\"w3-row\" style=\"margin-top:64px\">\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-user w3-text-sand w3-jumbo\"></i>\n      <p>Safe</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-shield w3-text-orange w3-jumbo\"></i>\n      <p>Stabile</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-wifi w3-text-grey w3-jumbo\"></i>\n      <p>Connected</p>\n    </div>\n    <div class=\"w3-col s3\">\n      <i class=\"fa fa-image w3-text-pink w3-jumbo\"></i>\n      <p>HD</p>\n    </div>\n  </div>\n</div>\n\n<!-- Pricing Section -->\n<div class=\"w3-padding-64 w3-center w3-white\">\n  <h1 class=\"w3-jumbo\"><b>Pricing</b></h1>\n  <p class=\"w3-large\">Choose a pricing plan that fits your needs.</p>\n  <div class=\"w3-row-padding\" style=\"margin-top:64px\">\n    <div class=\"w3-half w3-section\">\n      <ul class=\"w3-ul w3-card-2 w3-hover-shadow\">\n        <li class=\"w3-dark-grey w3-xlarge w3-padding-32\">Basic</li>\n        <li class=\"w3-padding-16\"><b>250</b> Photos</li>\n        <li class=\"w3-padding-16\"><b>10</b> Features</li>\n        <li class=\"w3-padding-16\"><b>No</b> Ads</li>\n        <li class=\"w3-padding-16\"><b>Office hours</b> Support</li>\n        <li class=\"w3-padding-16\">\n          <h2 class=\"w3-opacity\">$ 25</h2>\n        </li>\n        <li class=\"w3-light-grey w3-padding-24\">\n          <button class=\"w3-button w3-black w3-padding-large\" onclick=\"document.getElementById('download').style.display='block'\"><i class=\"fa fa-download\"></i> Download</button>\n        </li>\n      </ul>\n    </div>\n    <div class=\"w3-half w3-section\">\n      <ul class=\"w3-ul w3-card-2 w3-hover-shadow\">\n        <li class=\"w3-red w3-xlarge w3-padding-32\">Premium</li>\n        <li class=\"w3-padding-16\"><b>1000</b> Photos</li>\n        <li class=\"w3-padding-16\"><b>50</b> Features</li>\n        <li class=\"w3-padding-16\"><b>No</b> Ads</li>\n        <li class=\"w3-padding-16\"><b>Endless</b> Support</li>\n        <li class=\"w3-padding-16\">\n          <h2 class=\"w3-opacity\">$ 99</h2>\n        </li>\n        <li class=\"w3-light-grey w3-padding-24\">\n          <button class=\"w3-button w3-black w3-padding-large\" onclick=\"document.getElementById('download').style.display='block'\"> <i class=\"fa fa-download\"></i> Download</button>\n        </li>\n      </ul>\n    </div>\n  </div>\n  <br>\n</div>\n\n<!-- Footer -->\n<footer class=\"w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge\">\n  <div class=\"w3-section\">\n    <i class=\"fa fa-facebook-official w3-hover-opacity\"></i>\n    <i class=\"fa fa-instagram w3-hover-opacity\"></i>\n    <i class=\"fa fa-snapchat w3-hover-opacity\"></i>\n    <i class=\"fa fa-pinterest-p w3-hover-opacity\"></i>\n    <i class=\"fa fa-twitter w3-hover-opacity\"></i>\n    <i class=\"fa fa-linkedin w3-hover-opacity\"></i>\n  </div>\n  <p class=\"w3-medium\">Powered by <a href=\"https://www.w3schools.com/w3css/default.asp\" target=\"_blank\" class=\"w3-hover-text-green\">w3.css</a></p>\n</footer>\n\n<script>\n// Slideshow\nvar slideIndex = 1;\nshowDivs(slideIndex);\n\nfunction plusDivs(n) {\n  showDivs(slideIndex += n);\n}\n\nfunction showDivs(n) {\n  var i;\n  var x = document.getElementsByClassName(\"mySlides\");\n  if (n > x.length) {slideIndex = 1}    \n  if (n < 1) {slideIndex = x.length}\n  for (i = 0; i < x.length; i++) {\n     x[i].style.display = \"none\";  \n  }\n  x[slideIndex-1].style.display = \"block\";  \n}\n</script>\n\n</body>\n</html>\n","output":"str","x":290,"y":200,"wires":[["b230575b.4943b8"]]},{"id":"b230575b.4943b8","type":"http response","z":"4b579884.d5ba88","name":"","statusCode":"","headers":{},"x":448,"y":199,"wires":[]},{"id":"a5cfcd22.dd16","type":"ui_form","z":"99ec9216.f5cb9","name":"","label":"","group":"7ad316f1.a8b898","order":1,"width":0,"height":0,"options":[{"label":"Employee ID","value":"empid","type":"text","required":true}],"formValue":{"empid":""},"payload":"","topic":"","x":90,"y":80,"wires":[["2af0568c.33a25a"]]},{"id":"39f55909.c4e3d6","type":"http in","z":"4b579884.d5ba88","name":"","url":"/app1","method":"get","upload":false,"swaggerDoc":"","x":107,"y":273,"wires":[["536b8805.0593a8"]]},{"id":"536b8805.0593a8","type":"template","z":"4b579884.d5ba88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n\n<head>\n    <title>Snoborder Saratoga Nextgen Mortgage</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta name=\"description\" content=\"Snoborder introduces the Saratoga range of products for Banking, Real Estate and Insurance and related financial services.\">\n    <meta name=\"keywords\" content=\"mortgage, real estate, banking, snoborder, saratoga, lending, fannie mae, mismo, freddie mac\">\n    <meta name=\"author\" content=\"Dev B, Snoborder LLC\">\n    <link rel=\"icon\" href=\"css/favicon.ico\" type=\"image/x-icon\">\n    <link rel=\"stylesheet\" href=\"mdl/w3.css\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Poppins\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n\n    <style>\n        body,\n        h1,\n        h2,\n        h3,\n        h4,\n        h5 {\n            font-family: \"Poppins\", sans-serif\n        }\n\n        body {\n            font-size: 16px;\n        }\n\n        img {\n            margin-bottom: -8px;\n        }\n\n        .mySlides {\n            display: none;\n        }\n\n        label {\n            color: #B4886B;\n            font-weight: bold;\n            display: block;\n            width: 460px;\n            float: left;\n        }\n\n        fieldset {\n            font-family: sans-serif;\n            border: 2px solid #1F497D;\n            background: #050000;\n            border-radius: 5px;\n            padding: 15px;\n        }\n\n        fieldset legend {\n            background: #1F497D;\n            color: #fff;\n            padding: 5px 10px;\n            font-size: 18px;\n            border-radius: 2px;\n            box-shadow: 0 0 0 2px #ddd;\n            margin-left: 20px;\n        }\n    </style>\n</head>\n\n<body class=\"w3-content w3-black\" style=\"max-width:1500px;\">\n    <header class=\"w3-display-container w3-center\">\n        <h1 class=\"w3-xlarge\">Snoborder Nextgen Residential Mortgage Application</h1>\n        <hr class=\"w3-opacity\">\n        <p>for Townhomes</p>\n        <p>in one simple clouded app</p>\n    </header>\n\n<div id=\"xmlForm\"><form name=\"xmlForm\" action=\"http://www.datamech.com/XMLForm/formXML0200.pl?.df=html\"  target=\"_blank\" method=\"post\">\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"MESSAGE\">\n<legend>MESSAGE</legend>\n<input type=\"hidden\" value=\"MESSAGE\" name=\".tg\" />\n<input type=\"hidden\" name=\"@xmlns:ULDD\" value=\"http://www.datamodelextension.org/Schema/ULDD\" />\n<input type=\"hidden\" name=\"@xmlns:xsi\" value=\"http://www.w3.org/2001/XMLSchema-instance\" />\n<input type=\"hidden\" name=\"@xsi:schemaLocation\" value=\"http://www.datamodelextension.org/Schema/ULDD [REPLACE WITH PATH FOR YOUR SCHEMA LOCATION]/ULDD_Phase_3_Extension.xsd\" />\n<span class=\"XMLattribute\">\n<span class=\"MISMOReferenceModelIdentifier\">\n<label>MISMOReferenceModelIdentifier: </label>\n<input type=\"text\" class=\"MISMOReferenceModelIdentifier\" name=\"@MISMOReferenceModelIdentifier\" value=\"3.0[B263-12]\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLattribute\">\n<span class=\"xmlns\">\n<label>xmlns: </label>\n<input type=\"text\" class=\"xmlns\" name=\"@xmlns\" value=\"http://www.mismo.org/residential/2009/schemas\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ABOUT_VERSIONS\">\n<legend>ABOUT_VERSIONS</legend>\n<input type=\"hidden\" value=\"ABOUT_VERSIONS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ABOUT_VERSION\">\n<legend>ABOUT_VERSION</legend>\n<input type=\"hidden\" value=\"ABOUT_VERSION\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"AboutVersionIdentifier\">\n<label>AboutVersionIdentifier: </label>\n<input type=\"text\" class=\"AboutVersionIdentifier\" name=\"AboutVersionIdentifier\" value=\"FNM 3.0\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"CreatedDatetime\">\n<label>CreatedDatetime: </label>\n<input type=\"text\" class=\"CreatedDatetime\" name=\"CreatedDatetime\" value=\"2017-01-25T09:07:33\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/ABOUT_VERSION\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/ABOUT_VERSIONS\" name=\".tg\" />\n</fieldset>\n</div>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"DEAL_SETS\">\n<legend>DEAL_SETS</legend>\n<input type=\"hidden\" value=\"DEAL_SETS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"DEAL_SET\">\n<legend>DEAL_SET</legend>\n<input type=\"hidden\" value=\"DEAL_SET\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"DEALS\">\n<legend>DEALS</legend>\n<input type=\"hidden\" value=\"DEALS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"DEAL\">\n<legend>DEAL</legend>\n<input type=\"hidden\" value=\"DEAL\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"COLLATERALS\">\n<legend>COLLATERALS</legend>\n<input type=\"hidden\" value=\"COLLATERALS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"COLLATERAL\">\n<legend>COLLATERAL</legend>\n<input type=\"hidden\" value=\"COLLATERAL\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROPERTIES\">\n<legend>PROPERTIES</legend>\n<input type=\"hidden\" value=\"PROPERTIES\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROPERTY\">\n<legend>PROPERTY</legend>\n<input type=\"hidden\" value=\"PROPERTY\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ADDRESS\">\n<legend>ADDRESS</legend>\n<input type=\"hidden\" value=\"ADDRESS\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"AddressLineText\">\n<label>AddressLineText: </label>\n<input type=\"text\" class=\"AddressLineText\" name=\"AddressLineText\" value=\"123 Main Street, Unit 57\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"CityName\">\n<label>CityName: </label>\n<input type=\"text\" class=\"CityName\" name=\"CityName\" value=\"Anytown\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"PostalCode\">\n<label>PostalCode: </label>\n<input type=\"text\" class=\"PostalCode\" name=\"PostalCode\" value=\"20191\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"StateCode\">\n<label>StateCode: </label>\n<input type=\"text\" class=\"StateCode\" name=\"StateCode\" value=\"VA\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/ADDRESS\" name=\".tg\" />\n</fieldset>\n</div>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROJECT\">\n<legend>PROJECT</legend>\n<input type=\"hidden\" value=\"PROJECT\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROJECT_DETAIL\">\n<legend>PROJECT_DETAIL</legend>\n<input type=\"hidden\" value=\"PROJECT_DETAIL\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"FNMCondominiumProjectManagerProjectIdentifier\">\n<label>FNMCondominiumProjectManagerProjectIdentifier: </label>\n<input type=\"text\" class=\"FNMCondominiumProjectManagerProjectIdentifier\" name=\"FNMCondominiumProjectManagerProjectIdentifier\" value=\"987654321\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"ProjectClassificationIdentifier\">\n<label>ProjectClassificationIdentifier: </label>\n<input type=\"text\" class=\"ProjectClassificationIdentifier\" name=\"ProjectClassificationIdentifier\" value=\"R\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"ProjectDesignType\">\n<label>ProjectDesignType: </label>\n<input type=\"text\" class=\"ProjectDesignType\" name=\"ProjectDesignType\" value=\"TownhouseRowhouse\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"ProjectLegalStructureType\">\n<label>ProjectLegalStructureType: </label>\n<input type=\"text\" class=\"ProjectLegalStructureType\" name=\"ProjectLegalStructureType\" value=\"Condominium\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"ProjectName\">\n<label>ProjectName: </label>\n<input type=\"text\" class=\"ProjectName\" name=\"ProjectName\" value=\"Scenic Park View Condominiums\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"PUDIndicator\">\n<label>PUDIndicator: </label>\n<input type=\"text\" class=\"PUDIndicator\" name=\"PUDIndicator\" value=\"false\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/PROJECT_DETAIL\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PROJECT\" name=\".tg\" />\n</fieldset>\n</div>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROPERTY_VALUATIONS\">\n<legend>PROPERTY_VALUATIONS</legend>\n<input type=\"hidden\" value=\"PROPERTY_VALUATIONS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROPERTY_VALUATION\">\n<legend>PROPERTY_VALUATION</legend>\n<input type=\"hidden\" value=\"PROPERTY_VALUATION\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PROPERTY_VALUATION_DETAIL\">\n<legend>PROPERTY_VALUATION_DETAIL</legend>\n<input type=\"hidden\" value=\"PROPERTY_VALUATION_DETAIL\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"PropertyValuationFormType\">\n<label>PropertyValuationFormType: </label>\n<input type=\"text\" class=\"PropertyValuationFormType\" name=\"PropertyValuationFormType\" value=\"IndividualCondominiumUnitAppraisalReport\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/PROPERTY_VALUATION_DETAIL\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PROPERTY_VALUATION\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PROPERTY_VALUATIONS\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PROPERTY\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PROPERTIES\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/COLLATERAL\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/COLLATERALS\" name=\".tg\" />\n</fieldset>\n</div>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PARTIES\">\n<legend>PARTIES</legend>\n<input type=\"hidden\" value=\"PARTIES\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PARTY\">\n<legend>PARTY</legend>\n<input type=\"hidden\" value=\"PARTY\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ROLES\">\n<legend>ROLES</legend>\n<input type=\"hidden\" value=\"ROLES\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ROLE\">\n<legend>ROLE</legend>\n<input type=\"hidden\" value=\"ROLE\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"ROLE_DETAIL\">\n<legend>ROLE_DETAIL</legend>\n<input type=\"hidden\" value=\"ROLE_DETAIL\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"PartyRoleType\">\n<label>PartyRoleType: </label>\n<input type=\"text\" class=\"PartyRoleType\" name=\"PartyRoleType\" value=\"Other\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"PartyRoleTypeOtherDescription\">\n<label>PartyRoleTypeOtherDescription: </label>\n<input type=\"text\" class=\"PartyRoleTypeOtherDescription\" name=\"PartyRoleTypeOtherDescription\" value=\"HomeownersAssociation\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/ROLE_DETAIL\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/ROLE\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/ROLES\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PARTY\" name=\".tg\" />\n</fieldset>\n</div>\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"PARTY\">\n<legend>PARTY</legend>\n<input type=\"hidden\" value=\"PARTY\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"TAXPAYER_IDENTIFIERS\">\n<legend>TAXPAYER_IDENTIFIERS</legend>\n<input type=\"hidden\" value=\"TAXPAYER_IDENTIFIERS\" name=\".tg\" />\n<div class=\"XMLcomplexContent\">\n<fieldset class=\"TAXPAYER_IDENTIFIER\">\n<legend>TAXPAYER_IDENTIFIER</legend>\n<input type=\"hidden\" value=\"TAXPAYER_IDENTIFIER\" name=\".tg\" />\n<span class=\"XMLsimpleType\">\n<span class=\"TaxpayerIdentifierType\">\n<label>TaxpayerIdentifierType: </label>\n<input type=\"text\" class=\"TaxpayerIdentifierType\" name=\"TaxpayerIdentifierType\" value=\"EmployerIdentificationNumber\" size=\"70\"  onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<span class=\"XMLsimpleType\">\n<span class=\"TaxpayerIdentifierValue\">\n<label>TaxpayerIdentifierValue: </label>\n<input type=\"text\" class=\"TaxpayerIdentifierValue\" name=\"TaxpayerIdentifierValue\" value=\"112233445\n\" onfocus=\"focusGained(this)\" onchange=\"textChanged(this)\" /></span>\n<br/></span>\n<input type=\"hidden\" value=\"/TAXPAYER_IDENTIFIER\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/TAXPAYER_IDENTIFIERS\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PARTY\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/PARTIES\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/DEAL\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/DEALS\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/DEAL_SET\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/DEAL_SETS\" name=\".tg\" />\n</fieldset>\n</div>\n<input type=\"hidden\" value=\"/MESSAGE\" name=\".tg\" />\n</fieldset>\n</div>\n<p><input id=\"submit\" type=\"submit\" value=\"Generate XML\" /><input value=\"Reset\" type=\"reset\" /></p>\n</form></div>\n</body>\n</html>\n","output":"str","x":270,"y":340,"wires":[["ff034a8c.feb528"]]},{"id":"ff034a8c.feb528","type":"http response","z":"4b579884.d5ba88","name":"","statusCode":"","headers":{},"x":441,"y":279,"wires":[]}]